BEA SAGDP2 US data cleaning and exploration.

In [1]:
# Import libraries
import pandas as pd

print('Libraries imported successfully!')

Libraries imported successfully!

In [2]:
# Read in data
sagdp2us_df = pd.read_csv('../../../workspace/nf-insights-project/data_raw/BEA GDP Data/SAGDP2_US_1997_2024.csv', low_memory=False)

print('CSV read successfully!')

sagdp2us_df.head()

CSV read successfully!

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"""00000""",United States *,,SAGDP2,1.0,...,All industry total,Millions of current dollars,8577552.0,9062817.0,...,18295019.0,18804913.0,19612102.0,20656516.0,21539982.0,21375281.0,23725645.0,26054614.0,27811517.0,29298013.0
1,"""00000""",United States *,,SAGDP2,2.0,...,Private industries,Millions of current dollars,7431989.0,7871498.0,...,15951002.0,16413054.0,17156255.0,18097765.0,18909779.0,18663991.0,20917717.0,23128892.0,24712793.0,26001672.0
2,"""00000""",United States *,,SAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of current dollars,108635.0,100746.0,...,182147.0,167492.0,176840.0,177117.0,164214.0,164383.0,230723.0,294048.0,270441.0,269686.0
3,"""00000""",United States *,,SAGDP2,4.0,111-112,Farms,Millions of current dollars,88135.0,80020.0,...,146259.0,130270.0,138733.0,136825.0,122630.0,120506.0,185707.0,247070.0,218198.0,215830.0
4,"""00000""",United States *,,SAGDP2,5.0,113-115,"Forestry, fishing, and related activities",Millions of current dollars,20501.0,20726.0,...,35887.0,37222.0,38107.0,40291.0,41585.0,43877.0,45016.0,46978.0,52243.0,53856.0

In [3]:
# Data check
print('Data check:')
print('DF shape: ', sagdp2us_df.shape)
print(sagdp2us_df.info())
sagdp2us_df.columns

Data check:
DF shape:  (100, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 100 non-null    object
 1   GeoName                 96 non-null     object
 2   Region                  96 non-null     object
 3   TableName               96 non-null     object
 4   LineCode                96 non-null     float64
 5   IndustryClassification  96 non-null     object
 6   Description             96 non-null     object
 7   Unit                    96 non-null     object
 8   1997                    96 non-null     float64
 9   1998                    96 non-null     float64
 10  1999                    96 non-null     float64
 11  2000                    96 non-null     float64
 12  2001                    96 non-null     float64
 13  2002                    96 non-null     float64
 14  2003                    96 non-null     float64
 15  2004                    96 non-null     float64
 16  2005                    96 non-null     float64
 17  2006                    96 non-null     float64
 18  2007                    96 non-null     float64
 19  2008                    96 non-null     float64
 20  2009                    96 non-null     float64
 21  2010                    96 non-null     float64
 22  2011                    96 non-null     float64
 23  2012                    96 non-null     float64
 24  2013                    96 non-null     float64
 25  2014                    96 non-null     float64
 26  2015                    96 non-null     float64
 27  2016                    96 non-null     float64
 28  2017                    96 non-null     float64
 29  2018                    96 non-null     float64
 30  2019                    96 non-null     float64
 31  2020                    96 non-null     float64
 32  2021                    96 non-null     float64
 33  2022                    96 non-null     float64
 34  2023                    96 non-null     float64
 35  2024                    96 non-null     float64
dtypes: float64(29), object(7)
memory usage: 28.3+ KB
None

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [4]:
# Drop unnecessary columns
years = [str(y) for y in range(2008, 2025)]

sagdp2us_df = sagdp2us_df[['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit'] + years]

print('Dropped unnecessary columns successfully!')

# Data check
print('Data check:')
print('Data shape: ', sagdp2us_df.shape)
sagdp2us_df.info()

Dropped unnecessary columns successfully!
Data check:
Data shape:  (100, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 96 non-null     object
 1   LineCode                96 non-null     float64
 2   IndustryClassification  96 non-null     object
 3   Description             96 non-null     object
 4   Unit                    96 non-null     object
 5   2008                    96 non-null     float64
 6   2009                    96 non-null     float64
 7   2010                    96 non-null     float64
 8   2011                    96 non-null     float64
 9   2012                    96 non-null     float64
 10  2013                    96 non-null     float64
 11  2014                    96 non-null     float64
 12  2015                    96 non-null     float64
 13  2016                    96 non-null     float64
 14  2017                    96 non-null     float64
 15  2018                    96 non-null     float64
 16  2019                    96 non-null     float64
 17  2020                    96 non-null     float64
 18  2021                    96 non-null     float64
 19  2022                    96 non-null     float64
 20  2023                    96 non-null     float64
 21  2024                    96 non-null     float64
dtypes: float64(18), object(4)
memory usage: 17.3+ KB

In [5]:
# Drop completely empty rows
sagdp2us_df = sagdp2us_df.dropna(how='all', axis=0)

print('Completely empty rows dropped successfully!')

print('Data shape: ', sagdp2us_df.shape)

Completely empty rows dropped successfully!
Data shape:  (96, 22)

In [6]:
# Melt df from wide -> long
# Columns that identify each row
id_vars = ['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit']

# Columns to turn into rows
value_vars = [str(y) for y in range(2008, 2025)]

sagdp2us_long = pd.melt(
    sagdp2us_df,
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',
    value_name='GDPNominal'
)

print('Data melted successfully!')

print('Data shape: ', sagdp2us_long.shape)
print(sagdp2us_long.info())

Data melted successfully!
Data shape:  (1632, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632 entries, 0 to 1631
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1632 non-null   object
 1   LineCode                1632 non-null   float64
 2   IndustryClassification  1632 non-null   object
 3   Description             1632 non-null   object
 4   Unit                    1632 non-null   object
 5   Year                    1632 non-null   object
 6   GDPNominal              1632 non-null   float64
dtypes: float64(2), object(5)
memory usage: 89.4+ KB
None

In [7]:
# Convert LineCode from float64 to int64
sagdp2us_long['LineCode'] = sagdp2us_long['LineCode'].astype('Int64')

# Convert Year from object to int64
sagdp2us_long['Year'] = sagdp2us_long['Year'].astype('Int64')

print('Data types converted successfully!')

# Data check
print('Data check:')
print(sagdp2us_long.info())

Data types converted successfully!
Data check:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632 entries, 0 to 1631
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1632 non-null   object
 1   LineCode                1632 non-null   Int64
 2   IndustryClassification  1632 non-null   object
 3   Description             1632 non-null   object
 4   Unit                    1632 non-null   object
 5   Year                    1632 non-null   Int64
 6   GDPNominal              1632 non-null   float64
dtypes: Int64(2), float64(1), object(4)
memory usage: 92.6+ KB
None

In [8]:
# Select the columns we need to map industries
cols_to_check = ['LineCode', 'IndustryClassification', 'Description']

# Drop duplicates so we only see each industry once
bea_industries = sagdp2us_long[cols_to_check].drop_duplicates()

# Sort by LineCode to see top-level sectors first
bea_industries = bea_industries.sort_values('LineCode')

# Show the rows
print(bea_industries.head(92).to_markdown(index=False))

|   LineCode | IndustryClassification   | Description                                                                             |
|-----------:|:-------------------------|:----------------------------------------------------------------------------------------|
|          1 | ...                      | All industry total                                                                      |
|          2 | ...                      | Private industries                                                                      |
|          3 | 11                       | Agriculture, forestry, fishing and hunting                                              |
|          4 | 111-112                  | Farms                                                                                   |
|          5 | 113-115                  | Forestry, fishing, and related activities                                               |
|          6 | 21                       | Mining, quarrying, and oil and gas extraction                                           |
|          7 | 211                      | Oil and gas extraction                                                                  |
|          8 | 212                      | Mining (except oil and gas)                                                             |
|          9 | 213                      | Support activities for mining                                                           |
|         10 | 22                       | Utilities                                                                               |
|         11 | 23                       | Construction                                                                            |
|         12 | 31-33                    | Manufacturing                                                                           |
|         13 | 321,327-339              | Durable goods manufacturing                                                             |
|         14 | 321                      | Wood product manufacturing                                                              |
|         15 | 327                      | Nonmetallic mineral product manufacturing                                               |
|         16 | 331                      | Primary metal manufacturing                                                             |
|         17 | 332                      | Fabricated metal product manufacturing                                                  |
|         18 | 333                      | Machinery manufacturing                                                                 |
|         19 | 334                      | Computer and electronic product manufacturing                                           |
|         20 | 335                      | Electrical equipment, appliance, and component manufacturing                            |
|         21 | 3361-3363                | Motor vehicles, bodies and trailers, and parts manufacturing                            |
|         22 | 3364-3466,3369           | Other transportation equipment manufacturing                                            |
|         23 | 337                      | Furniture and related product manufacturing                                             |
|         24 | 339                      | Miscellaneous manufacturing                                                             |
|         25 | 311-316,322-326          | Nondurable goods manufacturing                                                          |
|         26 | 311-312                  | Food and beverage and tobacco product manufacturing                                     |
|         27 | 313-314                  | Textile mills and textile product mills                                                 |
|         28 | 315-316                  | Apparel, leather, and allied product manufacturing                                      |
|         29 | 322                      | Paper manufacturing                                                                     |
|         30 | 323                      | Printing and related support activities                                                 |
|         31 | 324                      | Petroleum and coal products manufacturing                                               |
|         32 | 325                      | Chemical manufacturing                                                                  |
|         33 | 326                      | Plastics and rubber products manufacturing                                              |
|         34 | 42                       | Wholesale trade                                                                         |
|         35 | 44-45                    | Retail trade                                                                            |
|         36 | 48-49                    | Transportation and warehousing                                                          |
|         37 | 481                      | Air transportation                                                                      |
|         38 | 482                      | Rail transportation                                                                     |
|         39 | 483                      | Water transportation                                                                    |
|         40 | 484                      | Truck transportation                                                                    |
|         41 | 485                      | Transit and ground passenger transportation                                             |
|         42 | 486                      | Pipeline transportation                                                                 |
|         43 | 487-488,492              | Other transportation and support activities                                             |
|         44 | 493                      | Warehousing and storage                                                                 |
|         45 | 51                       | Information                                                                             |
|         46 | 511                      | Publishing industries (except Internet)                                                 |
|         47 | 512                      | Motion picture and sound recording industries                                           |
|         48 | 515,517                  | Broadcasting (except Internet) and telecommunications                                   |
|         49 | 518-519                  | Data processing, hosting, and other information services                                |
|         50 | 52,53                    | Finance, insurance, real estate, rental, and leasing                                    |
|         51 | 52                       | Finance and insurance                                                                   |
|         52 | 521-522                  | Monetary Authorities- central bank, credit intermediation, and related services         |
|         53 | 523                      | Securities, commodity contracts, and other financial investments and related activities |
|         54 | 524                      | Insurance carriers and related activities                                               |
|         55 | 525                      | Funds, trusts, and other financial vehicles                                             |
|         56 | 53                       | Real estate and rental and leasing                                                      |
|         57 | 531                      | Real estate                                                                             |
|         58 | 532-533                  | Rental and leasing services and lessors of nonfinancial intangible assets               |
|         59 | 54,55,56                 | Professional and business services                                                      |
|         60 | 54                       | Professional, scientific, and technical services                                        |
|         61 | 5411                     | Legal services                                                                          |
|         62 | 5415                     | Computer systems design and related services                                            |
|         63 | 5412-5414,5416-5419      | Miscellaneous professional, scientific, and technical services                          |
|         64 | 55                       | Management of companies and enterprises                                                 |
|         65 | 56                       | Administrative and support and waste management and remediation services                |
|         66 | 561                      | Administrative and support services                                                     |
|         67 | 562                      | Waste management and remediation services                                               |
|         68 | 61,62                    | Educational services, health care, and social assistance                                |
|         69 | 61                       | Educational services                                                                    |
|         70 | 62                       | Health care and social assistance                                                       |
|         71 | 621                      | Ambulatory health care services                                                         |
|         72 | 622                      | Hospitals                                                                               |
|         73 | 623                      | Nursing and residential care facilities                                                 |
|         74 | 624                      | Social assistance                                                                       |
|         75 | 71,72                    | Arts, entertainment, recreation, accommodation, and food services                       |
|         76 | 71                       | Arts, entertainment, and recreation                                                     |
|         77 | 711-712                  | Performing arts, spectator sports, museums, and related activities                      |
|         78 | 713                      | Amusement, gambling, and recreation industries                                          |
|         79 | 72                       | Accommodation and food services                                                         |
|         80 | 721                      | Accommodation                                                                           |
|         81 | 722                      | Food services and drinking places                                                       |
|         82 | 81                       | Other services (except government and government enterprises)                           |
|         83 | 92                       | Government and government enterprises                                                   |
|         84 | ...                      | Federal civilian                                                                        |
|         85 | ...                      | Military                                                                                |
|         86 | ...                      | State and local                                                                         |
|         87 | 11,21                    | Natural resources and mining                                                            |
|         88 | 42,44-45                 | Trade                                                                                   |
|         89 | 22,48-49                 | Transportation and utilities                                                            |
|         90 | 31-33,51                 | Manufacturing and information                                                           |
|         91 | ...                      | Private goods-producing industries 2/                                                   |
|         92 | ...                      | Private services-providing industries 3/                                                |

In [9]:
# Strip whitespace from all text columns
text_cols = sagdp2us_long.select_dtypes(include='object').columns

for col in text_cols:
    sagdp2us_long[col] = sagdp2us_long[col].str.strip()

print('Whitespace stripped successfully!')

Whitespace stripped successfully!

In [10]:
# Map BEA industries to top-level industries
bea_mapping = {
    # Keep top-level total
    'All industry total': 'Total Nonfarm',

    # Agriculture / Mining / Natural resources
    'Farms': 'Mining and Logging',
    'Forestry, fishing, and related activities': 'Mining and Logging',
    'Oil and gas extraction': 'Mining and Logging',
    'Mining (except oil and gas)': 'Mining and Logging',
    'Support activities for mining': 'Mining and Logging',

    # Utilities
    'Utilities': 'Trade, Transportation, and Utilities',

    # Construction
    'Construction': 'Construction',

    # Manufacturing
    'Manufacturing': 'Manufacturing',

    # Trade / Transportation / Utilities
    'Wholesale trade': 'Trade, Transportation, and Utilities',
    'Retail trade': 'Trade, Transportation, and Utilities',
    'Transportation and warehousing': 'Trade, Transportation, and Utilities',

    # Information
    'Information': 'Information',

    # Finance, Insurance, Real Estate, Rental and Leasing
    'Finance and insurance': 'Finance and Insurance',
    'Real estate': 'Real Estate and Rental and Leasing',
    'Rental and leasing services and lessors of nonfinancial intangible assets': 'Real Estate and Rental and Leasing',

    # Professional and Business Services
    'Professional, scientific, and technical services': 'Professional and Business Services',
    'Management of companies and enterprises': 'Professional and Business Services',
    'Administrative and support and waste management and remediation services': 'Professional and Business Services',

    # Education / Health
    'Educational services': 'Private Educational Services',
    'Health care and social assistance': 'Health Care and Social Assistance',

    # Arts / Leisure / Hospitality
    'Arts, entertainment, and recreation': 'Leisure and Hospitality',
    'Accommodation and food services': 'Leisure and Hospitality',

    # Other Services
    'Other services (except government and government enterprises)': 'Other Services',

    # Government
    'Government and government enterprises': 'Government',
}

# Create a new column for industries using the mapping
sagdp2us_long['IndustryName'] = sagdp2us_long['Description'].map(bea_mapping)

# Check for any unmapped industries
unmapped = sagdp2us_long[sagdp2us_long['IndustryName'].isna()]['Description'].unique()
print('Unmapped BEA industries (if any):', unmapped)

# Drop rows that are parent lines or aggregates that are not needed
sagdp2us_long = sagdp2us_long.dropna(subset=['IndustryName'])

# Check the result
sagdp2us_long.head(20)

Unmapped BEA industries (if any): ['Private industries' 'Agriculture, forestry, fishing and hunting'
 'Mining, quarrying, and oil and gas extraction'
 'Durable goods manufacturing' 'Wood product manufacturing'
 'Nonmetallic mineral product manufacturing' 'Primary metal manufacturing'
 'Fabricated metal product manufacturing' 'Machinery manufacturing'
 'Computer and electronic product manufacturing'
 'Electrical equipment, appliance, and component manufacturing'
 'Motor vehicles, bodies and trailers, and parts manufacturing'
 'Other transportation equipment manufacturing'
 'Furniture and related product manufacturing'
 'Miscellaneous manufacturing' 'Nondurable goods manufacturing'
 'Food and beverage and tobacco product manufacturing'
 'Textile mills and textile product mills'
 'Apparel, leather, and allied product manufacturing'
 'Paper manufacturing' 'Printing and related support activities'
 'Petroleum and coal products manufacturing' 'Chemical manufacturing'
 'Plastics and rubber products manufacturing' 'Air transportation'
 'Rail transportation' 'Water transportation' 'Truck transportation'
 'Transit and ground passenger transportation' 'Pipeline transportation'
 'Other transportation and support activities' 'Warehousing and storage'
 'Publishing industries (except Internet)'
 'Motion picture and sound recording industries'
 'Broadcasting (except Internet) and telecommunications'
 'Data processing, hosting, and other information services'
 'Finance, insurance, real estate, rental, and leasing'
 'Monetary Authorities- central bank, credit intermediation, and related services'
 'Securities, commodity contracts, and other financial investments and related activities'
 'Insurance carriers and related activities'
 'Funds, trusts, and other financial vehicles'
 'Real estate and rental and leasing' 'Professional and business services'
 'Legal services' 'Computer systems design and related services'
 'Miscellaneous professional, scientific, and technical services'
 'Administrative and support services'
 'Waste management and remediation services'
 'Educational services, health care, and social assistance'
 'Ambulatory health care services' 'Hospitals'
 'Nursing and residential care facilities' 'Social assistance'
 'Arts, entertainment, recreation, accommodation, and food services'
 'Performing arts, spectator sports, museums, and related activities'
 'Amusement, gambling, and recreation industries' 'Accommodation'
 'Food services and drinking places' 'Federal civilian' 'Military'
 'State and local' 'Natural resources and mining' 'Trade'
 'Transportation and utilities' 'Manufacturing and information'
 'Private goods-producing industries 2/'
 'Private services-providing industries 3/'
 'All industry total, overseas activity'
 'Government and government enterprises, overseas activity'
 'Federal civilian, overseas activity' 'Military, overseas activity']

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPNominal,IndustryName
0,United States *,1,...,All industry total,Millions of current dollars,2008,14769862.0,Total Nonfarm
3,United States *,4,111-112,Farms,Millions of current dollars,2008,118766.0,Mining and Logging
4,United States *,5,113-115,"Forestry, fishing, and related activities",Millions of current dollars,2008,27781.0,Mining and Logging
6,United States *,7,211,Oil and gas extraction,Millions of current dollars,2008,271758.0,Mining and Logging
7,United States *,8,212,Mining (except oil and gas),Millions of current dollars,2008,61339.0,Mining and Logging
8,United States *,9,213,Support activities for mining,Millions of current dollars,2008,59418.0,Mining and Logging
9,United States *,10,22,Utilities,Millions of current dollars,2008,241668.0,"Trade, Transportation, and Utilities"
10,United States *,11,23,Construction,Millions of current dollars,2008,649278.0,Construction
11,United States *,12,31-33,Manufacturing,Millions of current dollars,2008,1799570.0,Manufacturing
33,United States *,34,42,Wholesale trade,Millions of current dollars,2008,882770.0,"Trade, Transportation, and Utilities"
34,United States *,35,44-45,Retail trade,Millions of current dollars,2008,851353.0,"Trade, Transportation, and Utilities"
35,United States *,36,48-49,Transportation and warehousing,Millions of current dollars,2008,426993.0,"Trade, Transportation, and Utilities"
44,United States *,45,51,Information,Millions of current dollars,2008,743821.0,Information
50,United States *,51,52,Finance and insurance,Millions of current dollars,2008,871289.0,Finance and Insurance
56,United States *,57,531,Real estate,Millions of current dollars,2008,1766213.0,Real Estate and Rental and Leasing
57,United States *,58,532-533,Rental and leasing services and lessors of non...,Millions of current dollars,2008,178638.0,Real Estate and Rental and Leasing
59,United States *,60,54,"Professional, scientific, and technical services",Millions of current dollars,2008,1082820.0,Professional and Business Services
63,United States *,64,55,Management of companies and enterprises,Millions of current dollars,2008,256355.0,Professional and Business Services
64,United States *,65,56,Administrative and support and waste managemen...,Millions of current dollars,2008,438759.0,Professional and Business Services
68,United States *,69,61,Educational services,Millions of current dollars,2008,167778.0,Private Educational Services

In [11]:
# Compare totals to check differences (<3% is fine)
# Extract official totals
official_totals = sagdp2us_long[sagdp2us_long['Description'] == 'All industry total'][['Year', 'GDPNominal']].copy()
official_totals = official_totals.rename(columns={'GDPNominal': 'OfficialTotal'})

# Exclude 'All industry total' from mapping
mapped_df = sagdp2us_long[sagdp2us_long['Description'] != 'All industry total']

# Sum GDPReal by year for mapped industries
mapped_sums = mapped_df.groupby('Year')['GDPNominal'].sum().reset_index()
mapped_sums = mapped_sums.rename(columns={'GDPNominal': 'MappedTotal'})

# Merge with official totals
compare_totals = pd.merge(official_totals, mapped_sums, on='Year')
compare_totals['Difference'] = compare_totals['MappedTotal'] - compare_totals['OfficialTotal']
compare_totals['PercentDiff'] = compare_totals['Difference'] / compare_totals['OfficialTotal'] * 100

print(compare_totals.head(20).to_markdown(index=False))

|   Year |   OfficialTotal |   MappedTotal |   Difference |   PercentDiff |
|-------:|----------------:|--------------:|-------------:|--------------:|
|   2008 |     1.47699e+07 |   1.47699e+07 |           -2 |  -1.35411e-05 |
|   2009 |     1.44781e+07 |   1.44781e+07 |            0 |   0           |
|   2010 |     1.5049e+07  |   1.5049e+07  |            0 |   0           |
|   2011 |     1.55997e+07 |   1.55997e+07 |            0 |   0           |
|   2012 |     1.6254e+07  |   1.6254e+07  |           -5 |  -3.07617e-05 |
|   2013 |     1.68807e+07 |   1.68807e+07 |            0 |   0           |
|   2014 |     1.76081e+07 |   1.76081e+07 |            3 |   1.70376e-05 |
|   2015 |     1.8295e+07  |   1.8295e+07  |            0 |   0           |
|   2016 |     1.88049e+07 |   1.88049e+07 |            3 |   1.59533e-05 |
|   2017 |     1.96121e+07 |   1.96121e+07 |            2 |   1.01978e-05 |
|   2018 |     2.06565e+07 |   2.06565e+07 |            0 |   0           |
|   2019 |     2.154e+07   |   2.154e+07   |            0 |   0           |
|   2020 |     2.13753e+07 |   2.13753e+07 |            1 |   4.6783e-06  |
|   2021 |     2.37256e+07 |   2.37256e+07 |            2 |   8.4297e-06  |
|   2022 |     2.60546e+07 |   2.60546e+07 |            2 |   7.67618e-06 |
|   2023 |     2.78115e+07 |   2.78115e+07 |            1 |   3.59563e-06 |
|   2024 |     2.9298e+07  |   2.9298e+07  |           -2 |  -6.8264e-06  |

In [12]:
# Pull out All industry total for reference
totals = sagdp2us_long[
    sagdp2us_long['Description'] == 'All industry total'
][['Year', 'Description', 'GDPNominal']].copy()

# Rename for consistency
totals.rename(columns={'Description': 'IndustryName'}, inplace=True)

# Remove All industry total from subsectors before grouping
subsectors = sagdp2us_long[sagdp2us_long['Description'] != 'All industry total'].copy()
subsectors = subsectors.dropna(subset=['IndustryName'])

# Sum subsectors by year and mapped industry
grouped = subsectors.groupby(
    ['Year', 'IndustryName'],
    as_index=False
)['GDPNominal'].sum()

# Add Total Nonfarm to grouped table
total_nonfarm = totals.copy()
total_nonfarm['IndustryName'] = 'Total Nonfarm'
sagdp2us_grouped = pd.concat([grouped, total_nonfarm[['Year','IndustryName','GDPNominal']]], ignore_index=True)

# Data check
print('Data check:')
print('Data shape:', sagdp2us_grouped.shape)
sagdp2us_grouped.head()

Data check:
Data shape: (238, 3)

   Year                       IndustryName  GDPNominal
0  2008                       Construction    649278.0
1  2008              Finance and Insurance    871289.0
2  2008                         Government   1983092.0
3  2008  Health Care and Social Assistance   1017197.0
4  2008                        Information    743821.0

In [13]:
# Round gdp values
sagdp2us_grouped['GDPNominal'] = sagdp2us_grouped['GDPNominal'].round(1)

# Sort by Year and IndustryName
sagdp2us_grouped = sagdp2us_grouped.sort_values(
    ['Year', 'IndustryName']
)

# Data check
print('Data check:')
print('Data shape:', sagdp2us_grouped.shape)
sagdp2us_grouped.head()

Data check:
Data shape: (238, 3)

   Year                       IndustryName  GDPNominal
0  2008                       Construction    649278.0
1  2008              Finance and Insurance    871289.0
2  2008                         Government   1983092.0
3  2008  Health Care and Social Assistance   1017197.0
4  2008                        Information    743821.0

In [14]:
# Exclude Total Nonfarm from industry share calculation
top_level_rows = sagdp2us_grouped[sagdp2us_grouped['IndustryName'] != 'Total Nonfarm'].copy()

# Compute total GDP per year from top-level industries
total_gdp_per_year = top_level_rows.groupby('Year')['GDPNominal'].sum().reset_index()
total_gdp_per_year.rename(columns={'GDPNominal': 'TotalGDP'}, inplace=True)

# Merge TotalGDP back into top-level rows
sagdp2us_clean = top_level_rows.merge(total_gdp_per_year, on='Year', how='left')

# Compute industry shares
sagdp2us_clean['IndustryShare'] = sagdp2us_clean['GDPNominal'] / sagdp2us_clean['TotalGDP']
sagdp2us_clean['IndustrySharePct'] = sagdp2us_clean['IndustryShare'] * 100

# Round GDP and shares for readability
sagdp2us_clean['GDPNominal'] = sagdp2us_clean['GDPNominal'].round(1)
sagdp2us_clean['IndustryShare'] = sagdp2us_clean['IndustryShare'].round(6)
sagdp2us_clean['IndustrySharePct'] = sagdp2us_clean['IndustrySharePct'].round(2)

# Check the result
print('Data check:')
print('Data shape:', sagdp2us_clean.shape)
sagdp2us_clean.head()

Data check:
Data shape: (221, 6)

,Year,IndustryName,GDPNominal,TotalGDP,IndustryShare,IndustrySharePct
0,2008,Construction,649278.0,14769860.0,0.043960,4.40
1,2008,Finance and Insurance,871289.0,14769860.0,0.058991,5.90
2,2008,Government,1983092.0,14769860.0,0.134266,13.43
3,2008,Health Care and Social Assistance,1017197.0,14769860.0,0.068870,6.89
4,2008,Information,743821.0,14769860.0,0.050361,5.04

In [15]:
# Sum GDPReal for each year across top-level industries only (exclude Total Nonfarm)
yearly_totals = sagdp2us_clean.groupby('Year')['GDPNominal'].sum().reset_index()

print(yearly_totals)

    Year  GDPNominal
0   2008  14769860.0
1   2009  14478067.0
2   2010  15048971.0
3   2011  15599732.0
4   2012  16253965.0
5   2013  16880683.0
6   2014  17608141.0
7   2015  18295019.0
8   2016  18804916.0
9   2017  19612104.0
10  2018  20656516.0
11  2019  21539982.0
12  2020  21375282.0
13  2021  23725647.0
14  2022  26054616.0
15  2023  27811518.0
16  2024  29298011.0

In [16]:
# Calculate year-over-year industry GDP growth
sagdp2us_clean['IndustryGDPGrowth'] = sagdp2us_clean.groupby('IndustryName')['GDPNominal'].pct_change() * 100

# Round industry growth for readability
sagdp2us_clean['IndustryGDPGrowth'] = sagdp2us_clean['IndustryGDPGrowth'].round(2)

# Data check
print('Data check:')
print('Data shape:', sagdp2us_clean.shape)
sagdp2us_clean.head()

Data check:
Data shape: (221, 7)

,Year,IndustryName,GDPNominal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth
0,2008,Construction,649278.0,14769860.0,0.043960,4.40,NaN
1,2008,Finance and Insurance,871289.0,14769860.0,0.058991,5.90,NaN
2,2008,Government,1983092.0,14769860.0,0.134266,13.43,NaN
3,2008,Health Care and Social Assistance,1017197.0,14769860.0,0.068870,6.89,NaN
4,2008,Information,743821.0,14769860.0,0.050361,5.04,NaN

In [17]:
# Compute total GDP per year (unique yearly values)
state_growth = (
    sagdp2us_clean[['Year', 'TotalGDP']]
    .drop_duplicates()
    .sort_values('Year')
)

# Calculate year-over-year growth
state_growth['StateGDPGrowth'] = (
    state_growth['TotalGDP'].pct_change() * 100
)

# Round
state_growth['StateGDPGrowth'] = state_growth['StateGDPGrowth'].round(2)

# Merge back into main dataframe
sagdp2us_clean = sagdp2us_clean.merge(
    state_growth[['Year', 'StateGDPGrowth']],
    on='Year',
    how='left'
)

# Data check
print('Data check:')
print('Data shape:', sagdp2us_clean.shape)
sagdp2us_clean.head()

Data check:
Data shape: (221, 8)

,Year,IndustryName,GDPNominal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth
0,2008,Construction,649278.0,14769860.0,0.043960,4.40,NaN,NaN
1,2008,Finance and Insurance,871289.0,14769860.0,0.058991,5.90,NaN,NaN
2,2008,Government,1983092.0,14769860.0,0.134266,13.43,NaN,NaN
3,2008,Health Care and Social Assistance,1017197.0,14769860.0,0.068870,6.89,NaN,NaN
4,2008,Information,743821.0,14769860.0,0.050361,5.04,NaN,NaN

In [18]:
# Calculate contribution to growth
# Shift industry share back one year
sagdp2us_clean['PriorShare'] = (
    sagdp2us_clean
    .groupby('IndustryName')['IndustryShare']
    .shift(1)
)

# Calculate contribution to state growth
sagdp2us_clean['GrowthContribution'] = (
    sagdp2us_clean['PriorShare'] *
    sagdp2us_clean['IndustryGDPGrowth']
)

# Round for readability
sagdp2us_clean['GrowthContribution'] = sagdp2us_clean['GrowthContribution'].round(2)

# Data check
print('Data check:')
print('Data shape:', sagdp2us_clean.shape)
sagdp2us_clean.head()

Data check:
Data shape: (221, 10)

,Year,IndustryName,GDPNominal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution
0,2008,Construction,649278.0,14769860.0,0.043960,4.40,NaN,NaN,NaN,NaN
1,2008,Finance and Insurance,871289.0,14769860.0,0.058991,5.90,NaN,NaN,NaN,NaN
2,2008,Government,1983092.0,14769860.0,0.134266,13.43,NaN,NaN,NaN,NaN
3,2008,Health Care and Social Assistance,1017197.0,14769860.0,0.068870,6.89,NaN,NaN,NaN,NaN
4,2008,Information,743821.0,14769860.0,0.050361,5.04,NaN,NaN,NaN,NaN

In [19]:
# Calculate industry concentration (HHI) in 0-10,000 scale
sagdp2us_clean['IndustryConcentration'] = (sagdp2us_clean['IndustryShare']*100) ** 2

# Compute HHI per year
hhi_by_year = (
    sagdp2us_clean
    .groupby('Year')['IndustryConcentration']
    .sum()
    .reset_index()
)

# Round for readability
sagdp2us_clean['IndustryConcentration'] = sagdp2us_clean['IndustryConcentration'].round(1)

# Check the result
print('Data check:')
print('Data shape:', sagdp2us_clean.shape)
sagdp2us_clean.head()

Data check:
Data shape: (221, 11)

,Year,IndustryName,GDPNominal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution,IndustryConcentration
0,2008,Construction,649278.0,14769860.0,0.043960,4.40,NaN,NaN,NaN,NaN,19.3
1,2008,Finance and Insurance,871289.0,14769860.0,0.058991,5.90,NaN,NaN,NaN,NaN,34.8
2,2008,Government,1983092.0,14769860.0,0.134266,13.43,NaN,NaN,NaN,NaN,180.3
3,2008,Health Care and Social Assistance,1017197.0,14769860.0,0.068870,6.89,NaN,NaN,NaN,NaN,47.4
4,2008,Information,743821.0,14769860.0,0.050361,5.04,NaN,NaN,NaN,NaN,25.4

In [20]:
# Compute 3-year rolling average growth per industry
sagdp2us_clean['Growth3yrAvg'] = (
    sagdp2us_clean
    .groupby('IndustryName')['IndustryGDPGrowth']
    .rolling(3)
    .mean()
    .reset_index(level=0, drop=True)
)

# Round for readability
sagdp2us_clean['Growth3yrAvg'] = sagdp2us_clean['Growth3yrAvg'].round(2)

# Data check
print('Data check:')
print('Data shape:', sagdp2us_clean.shape)
sagdp2us_clean.head()

Data check:
Data shape: (221, 12)

,Year,IndustryName,GDPNominal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution,IndustryConcentration,Growth3yrAvg
0,2008,Construction,649278.0,14769860.0,0.043960,4.40,NaN,NaN,NaN,NaN,19.3,NaN
1,2008,Finance and Insurance,871289.0,14769860.0,0.058991,5.90,NaN,NaN,NaN,NaN,34.8,NaN
2,2008,Government,1983092.0,14769860.0,0.134266,13.43,NaN,NaN,NaN,NaN,180.3,NaN
3,2008,Health Care and Social Assistance,1017197.0,14769860.0,0.068870,6.89,NaN,NaN,NaN,NaN,47.4,NaN
4,2008,Information,743821.0,14769860.0,0.050361,5.04,NaN,NaN,NaN,NaN,25.4,NaN

In [21]:
# Calculate volatility per industry
sagdp2us_clean['GrowthVolatility'] = (
    sagdp2us_clean
    .groupby('IndustryName')['IndustryGDPGrowth']
    .transform('std')
)

sagdp2us_clean['GrowthVolatility'] = sagdp2us_clean['GrowthVolatility'].round(2)

# Data check
print('Data check:')
print('Data shape:', sagdp2us_clean.shape)
sagdp2us_clean.head()

Data check:
Data shape: (221, 13)

,Year,IndustryName,GDPNominal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution,IndustryConcentration,Growth3yrAvg,GrowthVolatility
0,2008,Construction,649278.0,14769860.0,0.043960,4.40,NaN,NaN,NaN,NaN,19.3,NaN,6.52
1,2008,Finance and Insurance,871289.0,14769860.0,0.058991,5.90,NaN,NaN,NaN,NaN,34.8,NaN,4.01
2,2008,Government,1983092.0,14769860.0,0.134266,13.43,NaN,NaN,NaN,NaN,180.3,NaN,1.41
3,2008,Health Care and Social Assistance,1017197.0,14769860.0,0.068870,6.89,NaN,NaN,NaN,NaN,47.4,NaN,2.38
4,2008,Information,743821.0,14769860.0,0.050361,5.04,NaN,NaN,NaN,NaN,25.4,NaN,3.88

In [22]:
# Calculate industry rank by size (structural view)
sagdp2us_clean['IndustryRank'] = (
    sagdp2us_clean
    .groupby('Year')['GDPNominal']
    .rank(ascending=False, method='min')
)

# Convert rank to integer
sagdp2us_clean['IndustryRank'] = sagdp2us_clean['IndustryRank'].astype(int)

# Data check
print('Data check:')
print('Data shape:', sagdp2us_clean.shape)
sagdp2us_clean.head()

Data check:
Data shape: (221, 14)

,Year,IndustryName,GDPNominal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution,IndustryConcentration,Growth3yrAvg,GrowthVolatility,IndustryRank
0,2008,Construction,649278.0,14769860.0,0.043960,4.40,NaN,NaN,NaN,NaN,19.3,NaN,6.52,9
1,2008,Finance and Insurance,871289.0,14769860.0,0.058991,5.90,NaN,NaN,NaN,NaN,34.8,NaN,4.01,7
2,2008,Government,1983092.0,14769860.0,0.134266,13.43,NaN,NaN,NaN,NaN,180.3,NaN,1.41,2
3,2008,Health Care and Social Assistance,1017197.0,14769860.0,0.068870,6.89,NaN,NaN,NaN,NaN,47.4,NaN,2.38,6
4,2008,Information,743821.0,14769860.0,0.050361,5.04,NaN,NaN,NaN,NaN,25.4,NaN,3.88,8

In [23]:
# Check for duplicates
print('Number of duplicate rows:', sagdp2us_clean.duplicated().sum())

# Reset index
sagdp2us_final = sagdp2us_clean.reset_index(drop=True)

print('Index reset successfully!')

Number of duplicate rows: 0
Index reset successfully!

In [24]:
# Save df to csv
sagdp2us_final.to_csv('../../../workspace/nf-insights-project/data_clean/sagdp2_us_clean.csv', index=False)

print('CSV saved successfully!')

CSV saved successfully!