SAGDP2_WV + SAGDP9_WV dataset merge.

In [1]:
# Import libraries
import pandas as pd

print('Libraries imported successfully')

Libraries imported successfully

In [ ]:
# Load cleaned datasets
sagdp2wv_df = pd.read_csv('../../../workspace/nf-insights-project/data_clean/sagdp2wv_clean.csv') # state-level GDP
sagdp9wv_df = pd.read_csv('../../../workspace/nf-insights-project/data_clean/sagdp9wv_clean.csv') # industry-level GDP

print('Datasets loaded successfully')

sagdp2wv_df.head()

Datasets loaded successfully

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPNominal
0,West Virginia,1,...,All industry total,Millions of current dollars,2009,64040.1
1,West Virginia,2,...,Private industries,Millions of current dollars,2009,53335.5
2,West Virginia,3,11,"Agriculture, forestry, fishing and hunting",Millions of current dollars,2009,241.6
3,West Virginia,4,111-112,Farms,Millions of current dollars,2009,120.0
4,West Virginia,5,113-115,"Forestry, fishing, and related activities",Millions of current dollars,2009,121.6

In [12]:
sagdp9wv_df.head()

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPReal
0,West Virginia,1,...,All industry total,Millions of chained 2017 dollars,2009,70886.5
1,West Virginia,2,...,Private industries,Millions of chained 2017 dollars,2009,58142.1
2,West Virginia,3,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2017 dollars,2009,294.8
3,West Virginia,4,111-112,Farms,Millions of chained 2017 dollars,2009,148.5
4,West Virginia,5,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,2009,150.0

In [10]:
# Data check
print('Data check:')
print(sagdp2wv_df.info())
print(sagdp9wv_df.info())

Data check:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   int64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   int64
 6   GDPNominal              1472 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 80.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   int64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   int64
 6   GDPReal                 1472 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 80.6+ KB
None