BEA SAGDP9 US data cleaning and exploration.

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read in data
sagdp9us_df = pd.read_csv('../../../workspace/nf-insights-project/data_raw/BEA GDP Data/SAGDP9_US_1997_2024.csv', low_memory=False)

print('CSV read successfully!')

sagdp9us_df.head()

CSV read successfully!

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"""00000""",United States,,SAGDP9,1.0,...,All industry total,Millions of chained 2017 dollars,12370299.0,12924876.0,...,18799622.0,19141672.0,19612102.0,20193896.0,20715671.0,20284500.0,21532407.0,22075931.0,22723719.0,23358435.0
1,"""00000""",United States,,SAGDP9,2.0,...,Private industries,Millions of chained 2017 dollars,10332355.0,10849273.0,...,16394174.0,16710707.0,17156255.0,17711775.0,18216263.0,17819927.0,19053439.0,19561723.0,20192075.0,20769232.0
2,"""00000""",United States,,SAGDP9,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2017 dollars,113227.0,111689.0,...,171593.0,181537.0,176840.0,184105.0,172480.0,177913.0,188878.0,189793.0,194998.0,205475.0
3,"""00000""",United States,,SAGDP9,4.0,111-112,Farms,Millions of chained 2017 dollars,88642.0,86662.0,...,134830.0,143883.0,138733.0,144142.0,131392.0,134419.0,146184.0,147206.0,149820.0,158494.0
4,"""00000""",United States,,SAGDP9,5.0,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,25299.0,25877.0,...,36817.0,37724.0,38107.0,39955.0,40806.0,43089.0,42232.0,41989.0,45069.0,46702.0

In [3]:
# Data check
print(sagdp9us_df.shape)
print(sagdp9us_df.info())
sagdp9us_df.columns

(96, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 96 non-null     object
 1   GeoName                 92 non-null     object
 2   Region                  92 non-null     object
 3   TableName               92 non-null     object
 4   LineCode                92 non-null     float64
 5   IndustryClassification  92 non-null     object
 6   Description             92 non-null     object
 7   Unit                    92 non-null     object
 8   1997                    92 non-null     float64
 9   1998                    92 non-null     float64
 10  1999                    92 non-null     float64
 11  2000                    92 non-null     float64
 12  2001                    92 non-null     float64
 13  2002                    92 non-null     float64
 14  2003                    92 non-null     float64
 15  2004                    92 non-null     float64
 16  2005                    92 non-null     float64
 17  2006                    92 non-null     float64
 18  2007                    92 non-null     float64
 19  2008                    92 non-null     float64
 20  2009                    92 non-null     float64
 21  2010                    92 non-null     float64
 22  2011                    92 non-null     float64
 23  2012                    92 non-null     float64
 24  2013                    92 non-null     float64
 25  2014                    92 non-null     float64
 26  2015                    92 non-null     float64
 27  2016                    92 non-null     float64
 28  2017                    92 non-null     float64
 29  2018                    92 non-null     float64
 30  2019                    92 non-null     float64
 31  2020                    92 non-null     float64
 32  2021                    92 non-null     float64
 33  2022                    92 non-null     float64
 34  2023                    92 non-null     float64
 35  2024                    92 non-null     float64
dtypes: float64(29), object(7)
memory usage: 27.1+ KB
None

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [5]:
# Drop unnecessary columns
years = [str(y) for y in range(2009, 2025)]

sagdp9us_df = sagdp9us_df[['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit'] + years] 

# Data check
print(sagdp9us_df.shape)
sagdp9us_df.info()

(96, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 92 non-null     object
 1   LineCode                92 non-null     float64
 2   IndustryClassification  92 non-null     object
 3   Description             92 non-null     object
 4   Unit                    92 non-null     object
 5   2009                    92 non-null     float64
 6   2010                    92 non-null     float64
 7   2011                    92 non-null     float64
 8   2012                    92 non-null     float64
 9   2013                    92 non-null     float64
 10  2014                    92 non-null     float64
 11  2015                    92 non-null     float64
 12  2016                    92 non-null     float64
 13  2017                    92 non-null     float64
 14  2018                    92 non-null     float64
 15  2019                    92 non-null     float64
 16  2020                    92 non-null     float64
 17  2021                    92 non-null     float64
 18  2022                    92 non-null     float64
 19  2023                    92 non-null     float64
 20  2024                    92 non-null     float64
dtypes: float64(17), object(4)
memory usage: 15.9+ KB

In [6]:
# Drop completely empty rows
sagdp9us_df = sagdp9us_df.dropna(how='all', axis=0)

print(sagdp9us_df.shape)

(92, 21)

In [7]:
# Melt df from wide -> long
# Columns that identify each row
id_vars = ['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit']

# Columns to turn into rows
value_vars = [str(y) for y in range(2009, 2025)]

sagdp9us_long = pd.melt(
    sagdp9us_df,
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',
    value_name='GDPReal'
)

print(sagdp9us_long.shape)
print(sagdp9us_long.info())

(1472, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   float64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   object
 6   GDPReal                 1472 non-null   float64
dtypes: float64(2), object(5)
memory usage: 80.6+ KB
None

In [8]:
# Convert LineCode from float64 to int
sagdp9us_long['LineCode'] = sagdp9us_long['LineCode'].astype(int)

# Convert Year from object to int
sagdp9us_long['Year'] = sagdp9us_long['Year'].astype(int)

# Data check
print(sagdp9us_long.info())
sagdp9us_long.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   int64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   int64
 6   GDPReal                 1472 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 80.6+ KB
None

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPReal
0,United States,1,...,All industry total,Millions of chained 2017 dollars,2009,16349110.0
1,United States,2,...,Private industries,Millions of chained 2017 dollars,2009,13941688.0
2,United States,3,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2017 dollars,2009,159975.0
3,United States,4,111-112,Farms,Millions of chained 2017 dollars,2009,126817.0
4,United States,5,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,2009,33120.0

In [9]:
# Strip whitespace from strings
sagdp9us_long['Description'] = sagdp9us_long['Description'].str.strip()
sagdp9us_long['Unit'] = sagdp9us_long['Unit'].str.strip()
sagdp9us_long['GeoName'] = sagdp9us_long['GeoName'].str.strip()

# Reset index
sagdp9us_long = sagdp9us_long.reset_index(drop=True)

In [10]:
# Save df to csv
sagdp9us_long.to_csv('../../../workspace/nf-insights-project/data_clean/sagdp9us_long_clean.csv', index=False)

print('CSV saved successfully!')

CSV saved successfully!