BEA SAGDP1 All Areas data cleaning and exploration.

In [41]:
# Import libraries
import pandas as pd

print('Libraries imported successfully!')

Libraries imported successfully!

In [42]:
# Read in data
sagdp1_df = pd.read_csv('../../../workspace/nf-insights-project/data_raw/BEA GDP Data/SAGDP1__ALL_AREAS_1997_2024.csv', low_memory=False)

print('CSV read successfully!')

sagdp1_df.head()

CSV read successfully!

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"""00000""",United States,,SAGDP1,1.0,...,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,1.237030e+07,1.292488e+07,...,1.879962e+07,1.914167e+07,19612102.0,2.019390e+07,2.071567e+07,2.028450e+07,2.153241e+07,2.207593e+07,2.272372e+07,2.335844e+07
1,"""00000""",United States,,SAGDP1,2.0,...,Chain-type quantity indexes for real GDP,Quantity index,6.307500e+01,6.590300e+01,...,9.585700e+01,9.760100e+01,100.0,1.029670e+02,1.056270e+02,1.034280e+02,1.097910e+02,1.125630e+02,1.158660e+02,1.191020e+02
2,"""00000""",United States,,SAGDP1,3.0,...,Current-dollar GDP (millions of current dollars),Millions of current dollars,8.577552e+06,9.062817e+06,...,1.829502e+07,1.880491e+07,19612102.0,2.065652e+07,2.153998e+07,2.137528e+07,2.372564e+07,2.605461e+07,2.781152e+07,2.929801e+07
3,"""00000""",United States,,SAGDP1,4.0,...,Compensation (millions of dollars),Millions of current dollars,4.713220e+06,5.075701e+06,...,9.709535e+06,9.977096e+06,10434978.0,1.096769e+07,1.145847e+07,1.160574e+07,1.256956e+07,1.346222e+07,1.422838e+07,1.504912e+07
4,"""00000""",United States,,SAGDP1,5.0,...,Gross operating surplus (millions of dollars),Millions of current dollars,3.286528e+06,3.384009e+06,...,7.369222e+06,7.580439e+06,7873027.0,8.295055e+06,8.620834e+06,8.946779e+06,1.008207e+07,1.088592e+07,1.182438e+07,1.238844e+07

In [43]:
# Data check
print('Data check:')
print('DF shape:', sagdp1_df.shape)
print(sagdp1_df.info())
sagdp1_df.columns

Data check:
DF shape: (484, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 0 to 483
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 484 non-null    object
 1   GeoName                 480 non-null    object
 2   Region                  480 non-null    object
 3   TableName               480 non-null    object
 4   LineCode                480 non-null    float64
 5   IndustryClassification  480 non-null    object
 6   Description             480 non-null    object
 7   Unit                    480 non-null    object
 8   1997                    480 non-null    float64
 9   1998                    480 non-null    float64
 10  1999                    480 non-null    float64
 11  2000                    480 non-null    float64
 12  2001                    480 non-null    float64
 13  2002                    480 non-null    float64
 14  2003                    480 non-null    float64
 15  2004                    480 non-null    float64
 16  2005                    480 non-null    float64
 17  2006                    480 non-null    float64
 18  2007                    480 non-null    float64
 19  2008                    480 non-null    float64
 20  2009                    480 non-null    float64
 21  2010                    480 non-null    float64
 22  2011                    480 non-null    float64
 23  2012                    480 non-null    float64
 24  2013                    480 non-null    float64
 25  2014                    480 non-null    float64
 26  2015                    480 non-null    float64
 27  2016                    480 non-null    float64
 28  2017                    480 non-null    float64
 29  2018                    480 non-null    float64
 30  2019                    480 non-null    float64
 31  2020                    480 non-null    float64
 32  2021                    480 non-null    float64
 33  2022                    480 non-null    float64
 34  2023                    480 non-null    float64
 35  2024                    480 non-null    float64
dtypes: float64(29), object(7)
memory usage: 136.3+ KB
None

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [44]:
# Drop unnecessary columns
years = [str(y) for y in range(2009, 2025)]

sagdp1_df = sagdp1_df[['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit'] + years] 

print('Dropped unnecessary columns successfully!')

# Data check
print('DF shape:' ,sagdp1_df.shape)
sagdp1_df.info()

Dropped unnecessary columns successfully!
DF shape: (484, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 0 to 483
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 480 non-null    object
 1   LineCode                480 non-null    float64
 2   IndustryClassification  480 non-null    object
 3   Description             480 non-null    object
 4   Unit                    480 non-null    object
 5   2009                    480 non-null    float64
 6   2010                    480 non-null    float64
 7   2011                    480 non-null    float64
 8   2012                    480 non-null    float64
 9   2013                    480 non-null    float64
 10  2014                    480 non-null    float64
 11  2015                    480 non-null    float64
 12  2016                    480 non-null    float64
 13  2017                    480 non-null    float64
 14  2018                    480 non-null    float64
 15  2019                    480 non-null    float64
 16  2020                    480 non-null    float64
 17  2021                    480 non-null    float64
 18  2022                    480 non-null    float64
 19  2023                    480 non-null    float64
 20  2024                    480 non-null    float64
dtypes: float64(17), object(4)
memory usage: 79.5+ KB

In [45]:
# Drop completely empty rows
sagdp1_df = sagdp1_df.dropna(how='all', axis=0)

print('Dropped completely empty rows successfully!')

print('DF shape:', sagdp1_df.shape)

Dropped completely empty rows successfully!
DF shape: (480, 21)

In [46]:
# Keep only WV and US rows
sagdp1_df = sagdp1_df[sagdp1_df['GeoName'].isin(['West Virginia', 'United States'])]

print('Kept only WV and US rows successfully!')

print('DF shape:', sagdp1_df.shape)

sagdp1_df['GeoName'].unique()

Kept only WV and US rows successfully!
DF shape: (16, 21)

array(['United States', 'West Virginia'], dtype=object)

In [47]:
# Melt df from wide -> long
# Columns that identify each row
id_vars = ['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit']

# Columns to turn into rows
value_vars = [str(y) for y in range(2009, 2025)]

sagdp1_long = pd.melt(
    sagdp1_df,
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',
    value_name='DollarValue'
)

print('Melted successfully!')

print('DF shape:', sagdp1_long.shape)
print(sagdp1_long.info())

Melted successfully!
DF shape: (256, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 256 non-null    object
 1   LineCode                256 non-null    float64
 2   IndustryClassification  256 non-null    object
 3   Description             256 non-null    object
 4   Unit                    256 non-null    object
 5   Year                    256 non-null    object
 6   DollarValue             256 non-null    float64
dtypes: float64(2), object(5)
memory usage: 14.1+ KB
None

In [48]:
# Convert LineCode from float64 to int
sagdp1_long['LineCode'] = sagdp1_long['LineCode'].astype(int)

# Convert Year from object to int
sagdp1_long['Year'] = sagdp1_long['Year'].astype(int)

print('LineCode and Year converted successfully!')

# Data check
print('Data check:')
print(sagdp1_long.info())

LineCode and Year converted successfully!
Data check:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 256 non-null    object
 1   LineCode                256 non-null    int64
 2   IndustryClassification  256 non-null    object
 3   Description             256 non-null    object
 4   Unit                    256 non-null    object
 5   Year                    256 non-null    int64
 6   DollarValue             256 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 14.1+ KB
None

In [49]:
# Strip whitespace from all text columns
text_cols = sagdp1_long.select_dtypes(include='object').columns

for col in text_cols:
    sagdp1_long[col] = sagdp1_long[col].str.strip()

print('Whitespace stripped successfully!')

# Reset index
sagdp1_long = sagdp1_long.reset_index(drop=True)

print('Index reset successfully!')

Whitespace stripped successfully!
Index reset successfully!

In [50]:
# Check for duplicates
print('Number of duplicate rows:', sagdp1_long.duplicated().sum())

Number of duplicate rows: 0

In [51]:
# Save df to csv
sagdp1_long.to_csv('../../../workspace/nf-insights-project/data_clean/sagdp1_all_areas_clean.csv', index=False)

print('CSV saved successfully!')

CSV saved successfully!