BEA SAGDP9 US data cleaning and exploration.

In [1]:
# Import libraries
import pandas as pd

print('Libraries imported successfully!')

Libraries imported successfully!

In [2]:
# Read in data
sagdp9us_df = pd.read_csv('../../../workspace/nf-insights-project/data_raw/BEA GDP Data/SAGDP9_US_1997_2024.csv', low_memory=False)

print('CSV read successfully!')

sagdp9us_df.head()

CSV read successfully!

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"""00000""",United States,,SAGDP9,1.0,...,All industry total,Millions of chained 2017 dollars,12370299.0,12924876.0,...,18799622.0,19141672.0,19612102.0,20193896.0,20715671.0,20284500.0,21532407.0,22075931.0,22723719.0,23358435.0
1,"""00000""",United States,,SAGDP9,2.0,...,Private industries,Millions of chained 2017 dollars,10332355.0,10849273.0,...,16394174.0,16710707.0,17156255.0,17711775.0,18216263.0,17819927.0,19053439.0,19561723.0,20192075.0,20769232.0
2,"""00000""",United States,,SAGDP9,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2017 dollars,113227.0,111689.0,...,171593.0,181537.0,176840.0,184105.0,172480.0,177913.0,188878.0,189793.0,194998.0,205475.0
3,"""00000""",United States,,SAGDP9,4.0,111-112,Farms,Millions of chained 2017 dollars,88642.0,86662.0,...,134830.0,143883.0,138733.0,144142.0,131392.0,134419.0,146184.0,147206.0,149820.0,158494.0
4,"""00000""",United States,,SAGDP9,5.0,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,25299.0,25877.0,...,36817.0,37724.0,38107.0,39955.0,40806.0,43089.0,42232.0,41989.0,45069.0,46702.0

In [3]:
# Data check
print('Data check:')
print('Data shape:', sagdp9us_df.shape)
print(sagdp9us_df.info())
sagdp9us_df.columns

Data check:
Data shape: (96, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 96 non-null     object
 1   GeoName                 92 non-null     object
 2   Region                  92 non-null     object
 3   TableName               92 non-null     object
 4   LineCode                92 non-null     float64
 5   IndustryClassification  92 non-null     object
 6   Description             92 non-null     object
 7   Unit                    92 non-null     object
 8   1997                    92 non-null     float64
 9   1998                    92 non-null     float64
 10  1999                    92 non-null     float64
 11  2000                    92 non-null     float64
 12  2001                    92 non-null     float64
 13  2002                    92 non-null     float64
 14  2003                    92 non-null     float64
 15  2004                    92 non-null     float64
 16  2005                    92 non-null     float64
 17  2006                    92 non-null     float64
 18  2007                    92 non-null     float64
 19  2008                    92 non-null     float64
 20  2009                    92 non-null     float64
 21  2010                    92 non-null     float64
 22  2011                    92 non-null     float64
 23  2012                    92 non-null     float64
 24  2013                    92 non-null     float64
 25  2014                    92 non-null     float64
 26  2015                    92 non-null     float64
 27  2016                    92 non-null     float64
 28  2017                    92 non-null     float64
 29  2018                    92 non-null     float64
 30  2019                    92 non-null     float64
 31  2020                    92 non-null     float64
 32  2021                    92 non-null     float64
 33  2022                    92 non-null     float64
 34  2023                    92 non-null     float64
 35  2024                    92 non-null     float64
dtypes: float64(29), object(7)
memory usage: 27.1+ KB
None

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [4]:
# Drop unnecessary columns
years = [str(y) for y in range(2009, 2025)]

sagdp9us_df = sagdp9us_df[['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit'] + years]

print('Unnecessary columns dropped successfully!')

# Data check
print('Data shape:', sagdp9us_df.shape)
sagdp9us_df.info()

Unnecessary columns dropped successfully!
Data shape: (96, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 92 non-null     object
 1   LineCode                92 non-null     float64
 2   IndustryClassification  92 non-null     object
 3   Description             92 non-null     object
 4   Unit                    92 non-null     object
 5   2009                    92 non-null     float64
 6   2010                    92 non-null     float64
 7   2011                    92 non-null     float64
 8   2012                    92 non-null     float64
 9   2013                    92 non-null     float64
 10  2014                    92 non-null     float64
 11  2015                    92 non-null     float64
 12  2016                    92 non-null     float64
 13  2017                    92 non-null     float64
 14  2018                    92 non-null     float64
 15  2019                    92 non-null     float64
 16  2020                    92 non-null     float64
 17  2021                    92 non-null     float64
 18  2022                    92 non-null     float64
 19  2023                    92 non-null     float64
 20  2024                    92 non-null     float64
dtypes: float64(17), object(4)
memory usage: 15.9+ KB

In [5]:
# Drop completely empty rows
sagdp9us_df = sagdp9us_df.dropna(how='all', axis=0)

print('Completely empty rows dropped successfully!')

print('Data shape:', sagdp9us_df.shape)

Completely empty rows dropped successfully!
Data shape: (92, 21)

In [6]:
# Melt df from wide -> long
# Columns that identify each row
id_vars = ['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit']

# Columns to turn into rows
value_vars = [str(y) for y in range(2009, 2025)]

sagdp9us_long = pd.melt(
    sagdp9us_df,
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',
    value_name='GDPReal'
)

print('Data melted successfully!')

print('Data shape:', sagdp9us_long.shape)
print(sagdp9us_long.info())

Data melted successfully!
Data shape: (1472, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   float64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   object
 6   GDPReal                 1472 non-null   float64
dtypes: float64(2), object(5)
memory usage: 80.6+ KB
None

In [7]:
# Convert LineCode from float64 to int
sagdp9us_long['LineCode'] = sagdp9us_long['LineCode'].astype(int)

# Convert Year from object to int
sagdp9us_long['Year'] = sagdp9us_long['Year'].astype(int)

print('Data types converted successfully!')

# Data check
print('Data check:')
print(sagdp9us_long.info())
sagdp9us_long.head()

Data types converted successfully!
Data check:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   int64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   int64
 6   GDPReal                 1472 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 80.6+ KB
None

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPReal
0,United States,1,...,All industry total,Millions of chained 2017 dollars,2009,16349110.0
1,United States,2,...,Private industries,Millions of chained 2017 dollars,2009,13941688.0
2,United States,3,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2017 dollars,2009,159975.0
3,United States,4,111-112,Farms,Millions of chained 2017 dollars,2009,126817.0
4,United States,5,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,2009,33120.0

In [8]:
# Select the columns we need to map industries
cols_to_check = ['LineCode', 'IndustryClassification', 'Description']

# Drop duplicates so we only see each industry once
bea_industries = sagdp9us_long[cols_to_check].drop_duplicates()

# Sort by LineCode to see top-level sectors first
bea_industries = bea_industries.sort_values('LineCode')

# Show the rows
print(bea_industries.head(92).to_markdown(index=False))

|   LineCode | IndustryClassification   | Description                                                                             |
|-----------:|:-------------------------|:----------------------------------------------------------------------------------------|
|          1 | ...                      | All industry total                                                                      |
|          2 | ...                      | Private industries                                                                      |
|          3 | 11                       | Agriculture, forestry, fishing and hunting                                              |
|          4 | 111-112                  | Farms                                                                                   |
|          5 | 113-115                  | Forestry, fishing, and related activities                                               |
|          6 | 21                       | Mining, quarrying, and oil and gas extraction                                           |
|          7 | 211                      | Oil and gas extraction                                                                  |
|          8 | 212                      | Mining (except oil and gas)                                                             |
|          9 | 213                      | Support activities for mining                                                           |
|         10 | 22                       | Utilities                                                                               |
|         11 | 23                       | Construction                                                                            |
|         12 | 31-33                    | Manufacturing                                                                           |
|         13 | 321,327-339              | Durable goods manufacturing                                                             |
|         14 | 321                      | Wood product manufacturing                                                              |
|         15 | 327                      | Nonmetallic mineral product manufacturing                                               |
|         16 | 331                      | Primary metal manufacturing                                                             |
|         17 | 332                      | Fabricated metal product manufacturing                                                  |
|         18 | 333                      | Machinery manufacturing                                                                 |
|         19 | 334                      | Computer and electronic product manufacturing                                           |
|         20 | 335                      | Electrical equipment, appliance, and component manufacturing                            |
|         21 | 3361-3363                | Motor vehicles, bodies and trailers, and parts manufacturing                            |
|         22 | 3364-3466,3369           | Other transportation equipment manufacturing                                            |
|         23 | 337                      | Furniture and related product manufacturing                                             |
|         24 | 339                      | Miscellaneous manufacturing                                                             |
|         25 | 311-316,322-326          | Nondurable goods manufacturing                                                          |
|         26 | 311-312                  | Food and beverage and tobacco product manufacturing                                     |
|         27 | 313-314                  | Textile mills and textile product mills                                                 |
|         28 | 315-316                  | Apparel, leather, and allied product manufacturing                                      |
|         29 | 322                      | Paper manufacturing                                                                     |
|         30 | 323                      | Printing and related support activities                                                 |
|         31 | 324                      | Petroleum and coal products manufacturing                                               |
|         32 | 325                      | Chemical manufacturing                                                                  |
|         33 | 326                      | Plastics and rubber products manufacturing                                              |
|         34 | 42                       | Wholesale trade                                                                         |
|         35 | 44-45                    | Retail trade                                                                            |
|         36 | 48-49                    | Transportation and warehousing                                                          |
|         37 | 481                      | Air transportation                                                                      |
|         38 | 482                      | Rail transportation                                                                     |
|         39 | 483                      | Water transportation                                                                    |
|         40 | 484                      | Truck transportation                                                                    |
|         41 | 485                      | Transit and ground passenger transportation                                             |
|         42 | 486                      | Pipeline transportation                                                                 |
|         43 | 487-488,492              | Other transportation and support activities                                             |
|         44 | 493                      | Warehousing and storage                                                                 |
|         45 | 51                       | Information                                                                             |
|         46 | 511                      | Publishing industries (except Internet)                                                 |
|         47 | 512                      | Motion picture and sound recording industries                                           |
|         48 | 515,517                  | Broadcasting (except Internet) and telecommunications                                   |
|         49 | 518-519                  | Data processing, hosting, and other information services                                |
|         50 | 52,53                    | Finance, insurance, real estate, rental, and leasing                                    |
|         51 | 52                       | Finance and insurance                                                                   |
|         52 | 521-522                  | Monetary Authorities- central bank, credit intermediation, and related services         |
|         53 | 523                      | Securities, commodity contracts, and other financial investments and related activities |
|         54 | 524                      | Insurance carriers and related activities                                               |
|         55 | 525                      | Funds, trusts, and other financial vehicles                                             |
|         56 | 53                       | Real estate and rental and leasing                                                      |
|         57 | 531                      | Real estate                                                                             |
|         58 | 532-533                  | Rental and leasing services and lessors of nonfinancial intangible assets               |
|         59 | 54,55,56                 | Professional and business services                                                      |
|         60 | 54                       | Professional, scientific, and technical services                                        |
|         61 | 5411                     | Legal services                                                                          |
|         62 | 5415                     | Computer systems design and related services                                            |
|         63 | 5412-5414,5416-5419      | Miscellaneous professional, scientific, and technical services                          |
|         64 | 55                       | Management of companies and enterprises                                                 |
|         65 | 56                       | Administrative and support and waste management and remediation services                |
|         66 | 561                      | Administrative and support services                                                     |
|         67 | 562                      | Waste management and remediation services                                               |
|         68 | 61,62                    | Educational services, health care, and social assistance                                |
|         69 | 61                       | Educational services                                                                    |
|         70 | 62                       | Health care and social assistance                                                       |
|         71 | 621                      | Ambulatory health care services                                                         |
|         72 | 622                      | Hospitals                                                                               |
|         73 | 623                      | Nursing and residential care facilities                                                 |
|         74 | 624                      | Social assistance                                                                       |
|         75 | 71,72                    | Arts, entertainment, recreation, accommodation, and food services                       |
|         76 | 71                       | Arts, entertainment, and recreation                                                     |
|         77 | 711-712                  | Performing arts, spectator sports, museums, and related activities                      |
|         78 | 713                      | Amusement, gambling, and recreation industries                                          |
|         79 | 72                       | Accommodation and food services                                                         |
|         80 | 721                      | Accommodation                                                                           |
|         81 | 722                      | Food services and drinking places                                                       |
|         82 | 81                       | Other services (except government and government enterprises)                           |
|         83 | 92                       | Government and government enterprises                                                   |
|         84 | ...                      | Federal civilian                                                                        |
|         85 | ...                      | Military                                                                                |
|         86 | ...                      | State and local                                                                         |
|         87 | 11,21                    | Natural resources and mining                                                            |
|         88 | 42,44-45                 | Trade                                                                                   |
|         89 | 22,48-49                 | Transportation and utilities                                                            |
|         90 | 31-33,51                 | Manufacturing and information                                                           |
|         91 | ...                      | Private goods-producing industries 2/                                                   |
|         92 | ...                      | Private services-providing industries 3/                                                |

In [9]:
# Strip whitespace from all text columns
text_cols = sagdp9us_long.select_dtypes(include='object').columns

for col in text_cols:
    sagdp9us_long[col] = sagdp9us_long[col].str.strip()

print('Whitespace stripped successfully!')

Whitespace stripped successfully!

In [11]:
# Map BEA industries to top-level industries
bea_mapping = {
    # Keep top-level totals just in case
    'All industry total': 'Total Nonfarm',
    # 'Private industries': 'Total Nonfarm',

    # Agriculture / Natural resources
    'Forestry, fishing, and related activities': 'Mining and Logging',
    'Farms': 'Mining and Logging',
    'Oil and gas extraction': 'Mining and Logging',
    'Mining (except oil and gas)': 'Mining and Logging',
    'Support activities for mining': 'Mining and Logging',

    # Utilities
    'Utilities': 'Trade, Transportation, and Utilities',

    # Construction
    'Construction': 'Construction',

    # Manufacturing (all subsectors)
    # 'Durable goods manufacturing': 'Manufacturing',
    # 'Nondurable goods manufacturing': 'Manufacturing',
    'Wood product manufacturing': 'Manufacturing',
    'Nonmetallic mineral product manufacturing': 'Manufacturing',
    'Primary metal manufacturing': 'Manufacturing',
    'Fabricated metal product manufacturing': 'Manufacturing',
    'Machinery manufacturing': 'Manufacturing',
    'Computer and electronic product manufacturing': 'Manufacturing',
    'Electrical equipment, appliance, and component manufacturing': 'Manufacturing',
    'Motor vehicles, bodies and trailers, and parts manufacturing': 'Manufacturing',
    'Other transportation equipment manufacturing': 'Manufacturing',
    'Furniture and related product manufacturing': 'Manufacturing',
    'Miscellaneous manufacturing': 'Manufacturing',
    'Food and beverage and tobacco product manufacturing': 'Manufacturing',
    'Textile mills and textile product mills': 'Manufacturing',
    'Apparel, leather, and allied product manufacturing': 'Manufacturing',
    'Paper manufacturing': 'Manufacturing',
    'Printing and related support activities': 'Manufacturing',
    'Petroleum and coal products manufacturing': 'Manufacturing',
    'Chemical manufacturing': 'Manufacturing',
    'Plastics and rubber products manufacturing': 'Manufacturing',

    # Trade, Transportation, and Utilities
    'Wholesale trade': 'Trade, Transportation, and Utilities',
    'Retail trade': 'Trade, Transportation, and Utilities',
    'Air transportation': 'Trade, Transportation, and Utilities',
    'Rail transportation': 'Trade, Transportation, and Utilities',
    'Water transportation': 'Trade, Transportation, and Utilities',
    'Truck transportation': 'Trade, Transportation, and Utilities',
    'Transit and ground passenger transportation': 'Trade, Transportation, and Utilities',
    'Pipeline transportation': 'Trade, Transportation, and Utilities',
    'Other transportation and support activities': 'Trade, Transportation, and Utilities',
    'Warehousing and storage': 'Trade, Transportation, and Utilities',

    # Information
    'Publishing industries (except Internet)': 'Information',
    'Motion picture and sound recording industries': 'Information',
    'Broadcasting (except Internet) and telecommunications': 'Information',
    'Data processing, hosting, and other information services': 'Information',

    # Finance and Insurance
    # 'Finance and insurance': 'Finance and Insurance',
    'Monetary Authorities- central bank, credit intermediation, and related services': 'Finance and Insurance',
    'Securities, commodity contracts, and other financial investments and related activities': 'Finance and Insurance',
    'Insurance carriers and related activities': 'Finance and Insurance',
    'Funds, trusts, and other financial vehicles': 'Finance and Insurance',

    # Real Estate and Rental and Leasing
    'Real estate and rental and leasing': 'Real Estate and Rental and Leasing',
    'Real estate': 'Real Estate and Rental and Leasing',
    'Rental and leasing services and lessors of nonfinancial intangible assets': 'Real Estate and Rental and Leasing',

    # Professional and Business Services
    # 'Professional and business services': 'Professional and Business Services',
    'Legal services': 'Professional and Business Services',
    'Computer systems design and related services': 'Professional and Business Services',
    'Miscellaneous professional, scientific, and technical services': 'Professional and Business Services',
    'Management of companies and enterprises': 'Professional and Business Services',
    'Administrative and support and waste management and remediation services': 'Professional and Business Services',
    'Administrative and support services': 'Professional and Business Services',
    'Waste management and remediation services': 'Professional and Business Services',

    # Health Care and Social Assistance
    # 'Health care and social assistance': 'Health Care and Social Assistance',
    'Ambulatory health care services': 'Health Care and Social Assistance',
    'Hospitals': 'Health Care and Social Assistance',
    'Nursing and residential care facilities': 'Health Care and Social Assistance',
    'Social assistance': 'Health Care and Social Assistance',

    # Private Educational Services
    'Educational services': 'Private Educational Services',

    # Leisure and Hospitality
    'Arts, entertainment, and recreation': 'Leisure and Hospitality',
    'Performing arts, spectator sports, museums, and related activities': 'Leisure and Hospitality',
    'Amusement, gambling, and recreation industries': 'Leisure and Hospitality',
    'Accommodation and food services': 'Leisure and Hospitality',
    'Accommodation': 'Leisure and Hospitality',
    'Food services and drinking places': 'Leisure and Hospitality',

    # Other Services
    'Other services (except government and government enterprises)': 'Other Services',

    # Government
    # 'Government and government enterprises': 'Government',
    'Federal civilian': 'Government',
    'Military': 'Government',
    'State and local': 'Government',
}

# Create a new column for industries using the mapping
sagdp9us_long['IndustryName'] = sagdp9us_long['Description'].map(bea_mapping)

# Check for any unmapped industries
unmapped = sagdp9us_long[sagdp9us_long['IndustryName'].isna()]['Description'].unique()
print('Unmapped BEA industries (if any):', unmapped)

# Drop rows that are parent lines or aggregates that are not needed
sagdp9us_long = sagdp9us_long.dropna(subset=['IndustryName'])

# Check the result
sagdp9us_long.head(20)

Unmapped BEA industries (if any): ['Private industries' 'Agriculture, forestry, fishing and hunting'
 'Mining, quarrying, and oil and gas extraction' 'Manufacturing'
 'Durable goods manufacturing' 'Nondurable goods manufacturing'
 'Transportation and warehousing' 'Information'
 'Finance, insurance, real estate, rental, and leasing'
 'Finance and insurance' 'Professional and business services'
 'Professional, scientific, and technical services'
 'Educational services, health care, and social assistance'
 'Health care and social assistance'
 'Arts, entertainment, recreation, accommodation, and food services'
 'Government and government enterprises' 'Natural resources and mining'
 'Trade' 'Transportation and utilities' 'Manufacturing and information'
 'Private goods-producing industries 2/'
 'Private services-providing industries 3/']

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPReal,IndustryName
0,United States,1,...,All industry total,Millions of chained 2017 dollars,2009,16349110.0,Total Nonfarm
3,United States,4,111-112,Farms,Millions of chained 2017 dollars,2009,126817.0,Mining and Logging
4,United States,5,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,2009,33120.0,Mining and Logging
6,United States,7,211,Oil and gas extraction,Millions of chained 2017 dollars,2009,112049.0,Mining and Logging
7,United States,8,212,Mining (except oil and gas),Millions of chained 2017 dollars,2009,62362.0,Mining and Logging
8,United States,9,213,Support activities for mining,Millions of chained 2017 dollars,2009,46907.0,Mining and Logging
9,United States,10,22,Utilities,Millions of chained 2017 dollars,2009,256992.0,"Trade, Transportation, and Utilities"
10,United States,11,23,Construction,Millions of chained 2017 dollars,2009,686678.0,Construction
13,United States,14,321,Wood product manufacturing,Millions of chained 2017 dollars,2009,27513.0,Manufacturing
14,United States,15,327,Nonmetallic mineral product manufacturing,Millions of chained 2017 dollars,2009,46691.0,Manufacturing
15,United States,16,331,Primary metal manufacturing,Millions of chained 2017 dollars,2009,40094.0,Manufacturing
16,United States,17,332,Fabricated metal product manufacturing,Millions of chained 2017 dollars,2009,121100.0,Manufacturing
17,United States,18,333,Machinery manufacturing,Millions of chained 2017 dollars,2009,131348.0,Manufacturing
18,United States,19,334,Computer and electronic product manufacturing,Millions of chained 2017 dollars,2009,173810.0,Manufacturing
19,United States,20,335,"Electrical equipment, appliance, and component...",Millions of chained 2017 dollars,2009,50860.0,Manufacturing
20,United States,21,3361-3363,"Motor vehicles, bodies and trailers, and parts...",Millions of chained 2017 dollars,2009,46872.0,Manufacturing
21,United States,22,"3364-3466,3369",Other transportation equipment manufacturing,Millions of chained 2017 dollars,2009,132634.0,Manufacturing
22,United States,23,337,Furniture and related product manufacturing,Millions of chained 2017 dollars,2009,23780.0,Manufacturing
23,United States,24,339,Miscellaneous manufacturing,Millions of chained 2017 dollars,2009,83911.0,Manufacturing
25,United States,26,311-312,Food and beverage and tobacco product manufact...,Millions of chained 2017 dollars,2009,261693.0,Manufacturing

In [12]:
# Pull out All industry total and Private industries
totals = sagdp9us_long[
    sagdp9us_long['Description'].isin(['All industry total', 'Private industries'])
][['Year', 'Description', 'GDPReal']]

# Aggregate totals by adding subsectors
subsectors = sagdp9us_long.dropna(subset=['IndustryName'])

grouped = subsectors.groupby(
    ['Year', 'IndustryName'],
    as_index=False
)['GDPReal'].sum()

# Rename totals column to match structure of grouped
totals = totals.rename(columns={'Description': 'IndustryName'})

# Concatenate totals and grouped
sagdp9us_grouped = pd.concat([totals, grouped], ignore_index=True)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_grouped.shape)
sagdp9us_grouped.head()

Data check:
Data shape: (240, 3)

   Year        IndustryName     GDPReal
0  2009  All industry total  16349110.0
1  2010  All industry total  16789750.0
2  2011  All industry total  17052410.0
3  2012  All industry total  17442759.0
4  2013  All industry total  17812167.0

In [13]:
# Round gdp values
sagdp9us_grouped['GDPReal'] = sagdp9us_grouped['GDPReal'].round(1)

# Sort by Year and IndustryName
sagdp9us_grouped = sagdp9us_grouped.sort_values(
    ['Year', 'IndustryName']
)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_grouped.shape)
sagdp9us_grouped.head()

Data check:
Data shape: (240, 3)

    Year                       IndustryName     GDPReal
0   2009                 All industry total  16349110.0
16  2009                       Construction    686678.0
17  2009              Finance and Insurance   1448973.0
18  2009                         Government   2449491.2
19  2009  Health Care and Social Assistance   1206551.0

In [14]:
# Confirm summed subsector alignment with industry total
# Exclude the official total
components = sagdp9us_grouped[
    sagdp9us_grouped['IndustryName'].isin(
        ['All industry total', 'Private industries']
    )
]

# Sum components by year
component_sums = components.groupby('Year', as_index=False)['GDPReal'].sum()
component_sums = component_sums.rename(columns={'GDPReal': 'SumOfComponents'})

In [15]:
# Get the official total
official_total = sagdp9us_grouped[
    sagdp9us_grouped['IndustryName'] == 'All industry total'
][['Year', 'GDPReal']]

official_total = official_total.rename(columns={'GDPReal': 'OfficialTotal'})

In [16]:
# Merge and compare totals
comparison = pd.merge(component_sums, official_total, on='Year')

comparison['Difference'] = (
    comparison['OfficialTotal'] - comparison['SumOfComponents']
)

comparison['PercentDifference'] = (
    comparison['Difference'] / comparison['OfficialTotal'] * 100
)

comparison = comparison.round(4)

print(comparison.head())

   Year  SumOfComponents  OfficialTotal  Difference  PercentDifference
0  2009       16349110.0     16349110.0         0.0                0.0
1  2010       16789750.0     16789750.0         0.0                0.0
2  2011       17052410.0     17052410.0         0.0                0.0
3  2012       17442759.0     17442759.0         0.0                0.0
4  2013       17812167.0     17812167.0         0.0                0.0

In [18]:
# Check for duplicates
print('Number of duplicate rows:', sagdp9us_grouped.duplicated().sum())

# Reset index
sagdp9us_clean = sagdp9us_grouped.reset_index(drop=True)

print('Index reset successfully!')

Number of duplicate rows: 0
Index reset successfully!

In [20]:
# Save df to csv
sagdp9us_clean.to_csv('../../../workspace/nf-insights-project/data_clean/sagdp9us_clean.csv', index=False)

print('CSV saved successfully!')

CSV saved successfully!