BEA SAGDP9 US data cleaning and exploration.

In [14]:
# Import libraries
import pandas as pd

print('Libraries imported successfully!')

Libraries imported successfully!

In [15]:
# Read in data
sagdp9us_df = pd.read_csv('../../../workspace/nf-insights-project/data_raw/BEA GDP Data/SAGDP9_US_1997_2024.csv', low_memory=False)

print('CSV read successfully!')

sagdp9us_df.head()

CSV read successfully!

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"""00000""",United States,,SAGDP9,1.0,...,All industry total,Millions of chained 2017 dollars,12370299.0,12924876.0,...,18799622.0,19141672.0,19612102.0,20193896.0,20715671.0,20284500.0,21532407.0,22075931.0,22723719.0,23358435.0
1,"""00000""",United States,,SAGDP9,2.0,...,Private industries,Millions of chained 2017 dollars,10332355.0,10849273.0,...,16394174.0,16710707.0,17156255.0,17711775.0,18216263.0,17819927.0,19053439.0,19561723.0,20192075.0,20769232.0
2,"""00000""",United States,,SAGDP9,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2017 dollars,113227.0,111689.0,...,171593.0,181537.0,176840.0,184105.0,172480.0,177913.0,188878.0,189793.0,194998.0,205475.0
3,"""00000""",United States,,SAGDP9,4.0,111-112,Farms,Millions of chained 2017 dollars,88642.0,86662.0,...,134830.0,143883.0,138733.0,144142.0,131392.0,134419.0,146184.0,147206.0,149820.0,158494.0
4,"""00000""",United States,,SAGDP9,5.0,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,25299.0,25877.0,...,36817.0,37724.0,38107.0,39955.0,40806.0,43089.0,42232.0,41989.0,45069.0,46702.0

In [16]:
# Data check
print('Data check:')
print('Data shape:', sagdp9us_df.shape)
print(sagdp9us_df.info())
sagdp9us_df.columns

Data check:
Data shape: (96, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 96 non-null     object
 1   GeoName                 92 non-null     object
 2   Region                  92 non-null     object
 3   TableName               92 non-null     object
 4   LineCode                92 non-null     float64
 5   IndustryClassification  92 non-null     object
 6   Description             92 non-null     object
 7   Unit                    92 non-null     object
 8   1997                    92 non-null     float64
 9   1998                    92 non-null     float64
 10  1999                    92 non-null     float64
 11  2000                    92 non-null     float64
 12  2001                    92 non-null     float64
 13  2002                    92 non-null     float64
 14  2003                    92 non-null     float64
 15  2004                    92 non-null     float64
 16  2005                    92 non-null     float64
 17  2006                    92 non-null     float64
 18  2007                    92 non-null     float64
 19  2008                    92 non-null     float64
 20  2009                    92 non-null     float64
 21  2010                    92 non-null     float64
 22  2011                    92 non-null     float64
 23  2012                    92 non-null     float64
 24  2013                    92 non-null     float64
 25  2014                    92 non-null     float64
 26  2015                    92 non-null     float64
 27  2016                    92 non-null     float64
 28  2017                    92 non-null     float64
 29  2018                    92 non-null     float64
 30  2019                    92 non-null     float64
 31  2020                    92 non-null     float64
 32  2021                    92 non-null     float64
 33  2022                    92 non-null     float64
 34  2023                    92 non-null     float64
 35  2024                    92 non-null     float64
dtypes: float64(29), object(7)
memory usage: 27.1+ KB
None

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [17]:
# Drop unnecessary columns
years = [str(y) for y in range(2008, 2025)]

sagdp9us_df = sagdp9us_df[['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit'] + years]

print('Unnecessary columns dropped successfully!')

# Data check
print('Data shape:', sagdp9us_df.shape)
sagdp9us_df.info()

Unnecessary columns dropped successfully!
Data shape: (96, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 92 non-null     object
 1   LineCode                92 non-null     float64
 2   IndustryClassification  92 non-null     object
 3   Description             92 non-null     object
 4   Unit                    92 non-null     object
 5   2008                    92 non-null     float64
 6   2009                    92 non-null     float64
 7   2010                    92 non-null     float64
 8   2011                    92 non-null     float64
 9   2012                    92 non-null     float64
 10  2013                    92 non-null     float64
 11  2014                    92 non-null     float64
 12  2015                    92 non-null     float64
 13  2016                    92 non-null     float64
 14  2017                    92 non-null     float64
 15  2018                    92 non-null     float64
 16  2019                    92 non-null     float64
 17  2020                    92 non-null     float64
 18  2021                    92 non-null     float64
 19  2022                    92 non-null     float64
 20  2023                    92 non-null     float64
 21  2024                    92 non-null     float64
dtypes: float64(18), object(4)
memory usage: 16.6+ KB

In [18]:
# Drop completely empty rows
sagdp9us_df = sagdp9us_df.dropna(how='all', axis=0)

print('Completely empty rows dropped successfully!')

print('Data shape:', sagdp9us_df.shape)

Completely empty rows dropped successfully!
Data shape: (92, 22)

In [19]:
# Melt df from wide -> long
# Columns that identify each row
id_vars = ['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit']

# Columns to turn into rows
value_vars = [str(y) for y in range(2008, 2025)]

sagdp9us_long = pd.melt(
    sagdp9us_df,
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',
    value_name='GDPReal'
)

print('Data melted successfully!')

print('Data shape:', sagdp9us_long.shape)
print(sagdp9us_long.info())

Data melted successfully!
Data shape: (1564, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564 entries, 0 to 1563
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1564 non-null   object
 1   LineCode                1564 non-null   float64
 2   IndustryClassification  1564 non-null   object
 3   Description             1564 non-null   object
 4   Unit                    1564 non-null   object
 5   Year                    1564 non-null   object
 6   GDPReal                 1564 non-null   float64
dtypes: float64(2), object(5)
memory usage: 85.7+ KB
None

In [20]:
# Convert LineCode from float64 to int
sagdp9us_long['LineCode'] = sagdp9us_long['LineCode'].astype('Int64')

# Convert Year from object to int
sagdp9us_long['Year'] = sagdp9us_long['Year'].astype('Int64')

print('Data types converted successfully!')

# Data check
print('Data check:')
print(sagdp9us_long.info())
sagdp9us_long.head()

Data types converted successfully!
Data check:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564 entries, 0 to 1563
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1564 non-null   object
 1   LineCode                1564 non-null   Int64
 2   IndustryClassification  1564 non-null   object
 3   Description             1564 non-null   object
 4   Unit                    1564 non-null   object
 5   Year                    1564 non-null   Int64
 6   GDPReal                 1564 non-null   float64
dtypes: Int64(2), float64(1), object(4)
memory usage: 88.7+ KB
None

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPReal
0,United States,1,...,All industry total,Millions of chained 2017 dollars,2008,16781485.0
1,United States,2,...,Private industries,Millions of chained 2017 dollars,2008,14372138.0
2,United States,3,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2017 dollars,2008,144066.0
3,United States,4,111-112,Farms,Millions of chained 2017 dollars,2008,110079.0
4,United States,5,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,2008,34447.0

In [21]:
# Select the columns we need to map industries
cols_to_check = ['LineCode', 'IndustryClassification', 'Description']

# Drop duplicates so we only see each industry once
bea_industries = sagdp9us_long[cols_to_check].drop_duplicates()

# Sort by LineCode to see top-level sectors first
bea_industries = bea_industries.sort_values('LineCode')

# Show the rows
print(bea_industries.head(92).to_markdown(index=False))

|   LineCode | IndustryClassification   | Description                                                                             |
|-----------:|:-------------------------|:----------------------------------------------------------------------------------------|
|          1 | ...                      | All industry total                                                                      |
|          2 | ...                      | Private industries                                                                      |
|          3 | 11                       | Agriculture, forestry, fishing and hunting                                              |
|          4 | 111-112                  | Farms                                                                                   |
|          5 | 113-115                  | Forestry, fishing, and related activities                                               |
|          6 | 21                       | Mining, quarrying, and oil and gas extraction                                           |
|          7 | 211                      | Oil and gas extraction                                                                  |
|          8 | 212                      | Mining (except oil and gas)                                                             |
|          9 | 213                      | Support activities for mining                                                           |
|         10 | 22                       | Utilities                                                                               |
|         11 | 23                       | Construction                                                                            |
|         12 | 31-33                    | Manufacturing                                                                           |
|         13 | 321,327-339              | Durable goods manufacturing                                                             |
|         14 | 321                      | Wood product manufacturing                                                              |
|         15 | 327                      | Nonmetallic mineral product manufacturing                                               |
|         16 | 331                      | Primary metal manufacturing                                                             |
|         17 | 332                      | Fabricated metal product manufacturing                                                  |
|         18 | 333                      | Machinery manufacturing                                                                 |
|         19 | 334                      | Computer and electronic product manufacturing                                           |
|         20 | 335                      | Electrical equipment, appliance, and component manufacturing                            |
|         21 | 3361-3363                | Motor vehicles, bodies and trailers, and parts manufacturing                            |
|         22 | 3364-3466,3369           | Other transportation equipment manufacturing                                            |
|         23 | 337                      | Furniture and related product manufacturing                                             |
|         24 | 339                      | Miscellaneous manufacturing                                                             |
|         25 | 311-316,322-326          | Nondurable goods manufacturing                                                          |
|         26 | 311-312                  | Food and beverage and tobacco product manufacturing                                     |
|         27 | 313-314                  | Textile mills and textile product mills                                                 |
|         28 | 315-316                  | Apparel, leather, and allied product manufacturing                                      |
|         29 | 322                      | Paper manufacturing                                                                     |
|         30 | 323                      | Printing and related support activities                                                 |
|         31 | 324                      | Petroleum and coal products manufacturing                                               |
|         32 | 325                      | Chemical manufacturing                                                                  |
|         33 | 326                      | Plastics and rubber products manufacturing                                              |
|         34 | 42                       | Wholesale trade                                                                         |
|         35 | 44-45                    | Retail trade                                                                            |
|         36 | 48-49                    | Transportation and warehousing                                                          |
|         37 | 481                      | Air transportation                                                                      |
|         38 | 482                      | Rail transportation                                                                     |
|         39 | 483                      | Water transportation                                                                    |
|         40 | 484                      | Truck transportation                                                                    |
|         41 | 485                      | Transit and ground passenger transportation                                             |
|         42 | 486                      | Pipeline transportation                                                                 |
|         43 | 487-488,492              | Other transportation and support activities                                             |
|         44 | 493                      | Warehousing and storage                                                                 |
|         45 | 51                       | Information                                                                             |
|         46 | 511                      | Publishing industries (except Internet)                                                 |
|         47 | 512                      | Motion picture and sound recording industries                                           |
|         48 | 515,517                  | Broadcasting (except Internet) and telecommunications                                   |
|         49 | 518-519                  | Data processing, hosting, and other information services                                |
|         50 | 52,53                    | Finance, insurance, real estate, rental, and leasing                                    |
|         51 | 52                       | Finance and insurance                                                                   |
|         52 | 521-522                  | Monetary Authorities- central bank, credit intermediation, and related services         |
|         53 | 523                      | Securities, commodity contracts, and other financial investments and related activities |
|         54 | 524                      | Insurance carriers and related activities                                               |
|         55 | 525                      | Funds, trusts, and other financial vehicles                                             |
|         56 | 53                       | Real estate and rental and leasing                                                      |
|         57 | 531                      | Real estate                                                                             |
|         58 | 532-533                  | Rental and leasing services and lessors of nonfinancial intangible assets               |
|         59 | 54,55,56                 | Professional and business services                                                      |
|         60 | 54                       | Professional, scientific, and technical services                                        |
|         61 | 5411                     | Legal services                                                                          |
|         62 | 5415                     | Computer systems design and related services                                            |
|         63 | 5412-5414,5416-5419      | Miscellaneous professional, scientific, and technical services                          |
|         64 | 55                       | Management of companies and enterprises                                                 |
|         65 | 56                       | Administrative and support and waste management and remediation services                |
|         66 | 561                      | Administrative and support services                                                     |
|         67 | 562                      | Waste management and remediation services                                               |
|         68 | 61,62                    | Educational services, health care, and social assistance                                |
|         69 | 61                       | Educational services                                                                    |
|         70 | 62                       | Health care and social assistance                                                       |
|         71 | 621                      | Ambulatory health care services                                                         |
|         72 | 622                      | Hospitals                                                                               |
|         73 | 623                      | Nursing and residential care facilities                                                 |
|         74 | 624                      | Social assistance                                                                       |
|         75 | 71,72                    | Arts, entertainment, recreation, accommodation, and food services                       |
|         76 | 71                       | Arts, entertainment, and recreation                                                     |
|         77 | 711-712                  | Performing arts, spectator sports, museums, and related activities                      |
|         78 | 713                      | Amusement, gambling, and recreation industries                                          |
|         79 | 72                       | Accommodation and food services                                                         |
|         80 | 721                      | Accommodation                                                                           |
|         81 | 722                      | Food services and drinking places                                                       |
|         82 | 81                       | Other services (except government and government enterprises)                           |
|         83 | 92                       | Government and government enterprises                                                   |
|         84 | ...                      | Federal civilian                                                                        |
|         85 | ...                      | Military                                                                                |
|         86 | ...                      | State and local                                                                         |
|         87 | 11,21                    | Natural resources and mining                                                            |
|         88 | 42,44-45                 | Trade                                                                                   |
|         89 | 22,48-49                 | Transportation and utilities                                                            |
|         90 | 31-33,51                 | Manufacturing and information                                                           |
|         91 | ...                      | Private goods-producing industries 2/                                                   |
|         92 | ...                      | Private services-providing industries 3/                                                |

In [22]:
# Strip whitespace from all text columns
text_cols = sagdp9us_long.select_dtypes(include='object').columns

for col in text_cols:
    sagdp9us_long[col] = sagdp9us_long[col].str.strip()

print('Whitespace stripped successfully!')

Whitespace stripped successfully!

In [23]:
# Map BEA industries to top-level industries
bea_mapping = {
    # Keep top-level total
    'All industry total': 'Total Nonfarm',

    # Agriculture / Mining / Natural resources
    'Farms': 'Mining and Logging',
    'Forestry, fishing, and related activities': 'Mining and Logging',
    'Oil and gas extraction': 'Mining and Logging',
    'Mining (except oil and gas)': 'Mining and Logging',
    'Support activities for mining': 'Mining and Logging',

    # Utilities
    'Utilities': 'Trade, Transportation, and Utilities',

    # Construction
    'Construction': 'Construction',

    # Manufacturing
    'Manufacturing': 'Manufacturing',

    # Trade / Transportation / Utilities
    'Wholesale trade': 'Trade, Transportation, and Utilities',
    'Retail trade': 'Trade, Transportation, and Utilities',
    'Transportation and warehousing': 'Trade, Transportation, and Utilities',

    # Information
    'Information': 'Information',

    # Finance, Insurance, Real Estate, Rental and Leasing
    'Finance and insurance': 'Finance and Insurance',
    'Real estate': 'Real Estate and Rental and Leasing',
    'Rental and leasing services and lessors of nonfinancial intangible assets': 'Real Estate and Rental and Leasing',

    # Professional and Business Services
    'Professional, scientific, and technical services': 'Professional and Business Services',
    'Management of companies and enterprises': 'Professional and Business Services',
    'Administrative and support and waste management and remediation services': 'Professional and Business Services',

    # Education / Health
    'Educational services': 'Private Educational Services',
    'Health care and social assistance': 'Health Care and Social Assistance',

    # Arts / Leisure / Hospitality
    'Arts, entertainment, and recreation': 'Leisure and Hospitality',
    'Accommodation and food services': 'Leisure and Hospitality',

    # Other Services
    'Other services (except government and government enterprises)': 'Other Services',

    # Government
    'Government and government enterprises': 'Government',
}

# Create a new column for industries using the mapping
sagdp9us_long['IndustryName'] = sagdp9us_long['Description'].map(bea_mapping)

# Check for any unmapped industries
unmapped = sagdp9us_long[sagdp9us_long['IndustryName'].isna()]['Description'].unique()
print('Unmapped BEA industries (if any):', unmapped)

# Drop rows that are parent lines or aggregates that are not needed
sagdp9us_long = sagdp9us_long.dropna(subset=['IndustryName'])

# Check the result
sagdp9us_long.head(20)

Unmapped BEA industries (if any): ['Private industries' 'Agriculture, forestry, fishing and hunting'
 'Mining, quarrying, and oil and gas extraction'
 'Durable goods manufacturing' 'Wood product manufacturing'
 'Nonmetallic mineral product manufacturing' 'Primary metal manufacturing'
 'Fabricated metal product manufacturing' 'Machinery manufacturing'
 'Computer and electronic product manufacturing'
 'Electrical equipment, appliance, and component manufacturing'
 'Motor vehicles, bodies and trailers, and parts manufacturing'
 'Other transportation equipment manufacturing'
 'Furniture and related product manufacturing'
 'Miscellaneous manufacturing' 'Nondurable goods manufacturing'
 'Food and beverage and tobacco product manufacturing'
 'Textile mills and textile product mills'
 'Apparel, leather, and allied product manufacturing'
 'Paper manufacturing' 'Printing and related support activities'
 'Petroleum and coal products manufacturing' 'Chemical manufacturing'
 'Plastics and rubber products manufacturing' 'Air transportation'
 'Rail transportation' 'Water transportation' 'Truck transportation'
 'Transit and ground passenger transportation' 'Pipeline transportation'
 'Other transportation and support activities' 'Warehousing and storage'
 'Publishing industries (except Internet)'
 'Motion picture and sound recording industries'
 'Broadcasting (except Internet) and telecommunications'
 'Data processing, hosting, and other information services'
 'Finance, insurance, real estate, rental, and leasing'
 'Monetary Authorities- central bank, credit intermediation, and related services'
 'Securities, commodity contracts, and other financial investments and related activities'
 'Insurance carriers and related activities'
 'Funds, trusts, and other financial vehicles'
 'Real estate and rental and leasing' 'Professional and business services'
 'Legal services' 'Computer systems design and related services'
 'Miscellaneous professional, scientific, and technical services'
 'Administrative and support services'
 'Waste management and remediation services'
 'Educational services, health care, and social assistance'
 'Ambulatory health care services' 'Hospitals'
 'Nursing and residential care facilities' 'Social assistance'
 'Arts, entertainment, recreation, accommodation, and food services'
 'Performing arts, spectator sports, museums, and related activities'
 'Amusement, gambling, and recreation industries' 'Accommodation'
 'Food services and drinking places' 'Federal civilian' 'Military'
 'State and local' 'Natural resources and mining' 'Trade'
 'Transportation and utilities' 'Manufacturing and information'
 'Private goods-producing industries 2/'
 'Private services-providing industries 3/']

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPReal,IndustryName
0,United States,1,...,All industry total,Millions of chained 2017 dollars,2008,16781485.0,Total Nonfarm
3,United States,4,111-112,Farms,Millions of chained 2017 dollars,2008,110079.0,Mining and Logging
4,United States,5,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,2008,34447.0,Mining and Logging
6,United States,7,211,Oil and gas extraction,Millions of chained 2017 dollars,2008,82502.0,Mining and Logging
7,United States,8,212,Mining (except oil and gas),Millions of chained 2017 dollars,2008,66863.0,Mining and Logging
8,United States,9,213,Support activities for mining,Millions of chained 2017 dollars,2008,62683.0,Mining and Logging
9,United States,10,22,Utilities,Millions of chained 2017 dollars,2008,276326.0,"Trade, Transportation, and Utilities"
10,United States,11,23,Construction,Millions of chained 2017 dollars,2008,801629.0,Construction
11,United States,12,31-33,Manufacturing,Millions of chained 2017 dollars,2008,2021152.0,Manufacturing
33,United States,34,42,Wholesale trade,Millions of chained 2017 dollars,2008,1074315.0,"Trade, Transportation, and Utilities"
34,United States,35,44-45,Retail trade,Millions of chained 2017 dollars,2008,924323.0,"Trade, Transportation, and Utilities"
35,United States,36,48-49,Transportation and warehousing,Millions of chained 2017 dollars,2008,519581.0,"Trade, Transportation, and Utilities"
44,United States,45,51,Information,Millions of chained 2017 dollars,2008,642292.0,Information
50,United States,51,52,Finance and insurance,Millions of chained 2017 dollars,2008,1133496.0,Finance and Insurance
56,United States,57,531,Real estate,Millions of chained 2017 dollars,2008,2075979.0,Real Estate and Rental and Leasing
57,United States,58,532-533,Rental and leasing services and lessors of non...,Millions of chained 2017 dollars,2008,185752.0,Real Estate and Rental and Leasing
59,United States,60,54,"Professional, scientific, and technical services",Millions of chained 2017 dollars,2008,1171523.0,Professional and Business Services
63,United States,64,55,Management of companies and enterprises,Millions of chained 2017 dollars,2008,265971.0,Professional and Business Services
64,United States,65,56,Administrative and support and waste managemen...,Millions of chained 2017 dollars,2008,502380.0,Professional and Business Services
68,United States,69,61,Educational services,Millions of chained 2017 dollars,2008,216852.0,Private Educational Services

In [24]:
# Compare totals to check differences (<3% is fine)
# Extract official totals
official_totals = sagdp9us_long[sagdp9us_long['Description'] == 'All industry total'][['Year', 'GDPReal']].copy()
official_totals = official_totals.rename(columns={'GDPReal': 'OfficialTotal'})

# Exclude 'All industry total' from mapping
mapped_df = sagdp9us_long[sagdp9us_long['Description'] != 'All industry total']

# Sum GDPReal by year for mapped industries
mapped_sums = mapped_df.groupby('Year')['GDPReal'].sum().reset_index()
mapped_sums = mapped_sums.rename(columns={'GDPReal': 'MappedTotal'})

# Merge with official totals
compare_totals = pd.merge(official_totals, mapped_sums, on='Year')
compare_totals['Difference'] = compare_totals['MappedTotal'] - compare_totals['OfficialTotal']
compare_totals['PercentDiff'] = compare_totals['Difference'] / compare_totals['OfficialTotal'] * 100

print(compare_totals.head(20).to_markdown(index=False))

|   Year |   OfficialTotal |   MappedTotal |   Difference |   PercentDiff |
|-------:|----------------:|--------------:|-------------:|--------------:|
|   2008 |     1.67815e+07 |   1.6905e+07  |       123530 |   0.736109    |
|   2009 |     1.63491e+07 |   1.64695e+07 |       120418 |   0.736542    |
|   2010 |     1.67898e+07 |   1.69004e+07 |       110651 |   0.659039    |
|   2011 |     1.70524e+07 |   1.71605e+07 |       108076 |   0.633787    |
|   2012 |     1.74428e+07 |   1.75466e+07 |       103849 |   0.59537     |
|   2013 |     1.78122e+07 |   1.78712e+07 |        59049 |   0.331509    |
|   2014 |     1.82617e+07 |   1.83072e+07 |        45489 |   0.249095    |
|   2015 |     1.87996e+07 |   1.8816e+07  |        16425 |   0.0873688   |
|   2016 |     1.91417e+07 |   1.91479e+07 |         6272 |   0.0327662   |
|   2017 |     1.96121e+07 |   1.96121e+07 |            2 |   1.01978e-05 |
|   2018 |     2.01939e+07 |   2.0201e+07  |         7119 |   0.0352532   |
|   2019 |     2.07157e+07 |   2.07263e+07 |        10651 |   0.0514152   |
|   2020 |     2.02845e+07 |   2.03156e+07 |        31112 |   0.153378    |
|   2021 |     2.15324e+07 |   2.15896e+07 |        57172 |   0.265516    |
|   2022 |     2.20759e+07 |   2.22105e+07 |       134602 |   0.609723    |
|   2023 |     2.27237e+07 |   2.28664e+07 |       142645 |   0.627736    |
|   2024 |     2.33584e+07 |   2.35217e+07 |       163269 |   0.698972    |

In [26]:
# Pull out All industry total for reference
totals = sagdp9us_long[
    sagdp9us_long['Description'] == 'All industry total'
][['Year', 'Description', 'GDPReal']].copy()

# Rename for consistency
totals.rename(columns={'Description': 'IndustryName'}, inplace=True)

# Remove All industry total from subsectors before grouping
subsectors = sagdp9us_long[sagdp9us_long['Description'] != 'All industry total'].copy()
subsectors = subsectors.dropna(subset=['IndustryName'])

# Sum subsectors by year and mapped industry
grouped = subsectors.groupby(
    ['Year', 'IndustryName'],
    as_index=False
)['GDPReal'].sum()

# Add Total Nonfarm to grouped table
total_nonfarm = totals.copy()
total_nonfarm['IndustryName'] = 'Total Nonfarm'
sagdp9us_grouped = pd.concat([grouped, total_nonfarm[['Year','IndustryName','GDPReal']]], ignore_index=True)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_grouped.shape)
sagdp9us_grouped.head()

Data check:
Data shape: (238, 3)

   Year                       IndustryName    GDPReal
0  2008                       Construction   801629.0
1  2008              Finance and Insurance  1133496.0
2  2008                         Government  2447253.0
3  2008  Health Care and Social Assistance  1174066.0
4  2008                        Information   642292.0

In [27]:
# Round gdp values
sagdp9us_grouped['GDPReal'] = sagdp9us_grouped['GDPReal'].round(1)

# Sort by Year and IndustryName
sagdp9us_grouped = sagdp9us_grouped.sort_values(
    ['Year', 'IndustryName']
)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_grouped.shape)
sagdp9us_grouped.head()

Data check:
Data shape: (238, 3)

   Year                       IndustryName    GDPReal
0  2008                       Construction   801629.0
1  2008              Finance and Insurance  1133496.0
2  2008                         Government  2447253.0
3  2008  Health Care and Social Assistance  1174066.0
4  2008                        Information   642292.0

In [29]:
# Exclude Total Nonfarm from industry share calculation
top_level_rows = sagdp9us_grouped[sagdp9us_grouped['IndustryName'] != 'Total Nonfarm'].copy()

# Compute total GDP per year from top-level industries
total_gdp_per_year = top_level_rows.groupby('Year')['GDPReal'].sum().reset_index()
total_gdp_per_year.rename(columns={'GDPReal': 'TotalGDP'}, inplace=True)

# Merge TotalGDP back into top-level rows
sagdp9us_clean = top_level_rows.merge(total_gdp_per_year, on='Year', how='left')

# Compute industry shares
sagdp9us_clean['IndustryShare'] = sagdp9us_clean['GDPReal'] / sagdp9us_clean['TotalGDP']
sagdp9us_clean['IndustrySharePct'] = sagdp9us_clean['IndustryShare'] * 100

# Round GDP and shares for readability
sagdp9us_clean['GDPReal'] = sagdp9us_clean['GDPReal'].round(1)
sagdp9us_clean['IndustryShare'] = sagdp9us_clean['IndustryShare'].round(6)
sagdp9us_clean['IndustrySharePct'] = sagdp9us_clean['IndustrySharePct'].round(2)

# Check the result
print('Data check:')
print('Data shape:', sagdp9us_clean.shape)
sagdp9us_clean.head()

Data check:
Data shape: (221, 6)

,Year,IndustryName,GDPReal,TotalGDP,IndustryShare,IndustrySharePct
0,2008,Construction,801629.0,16905015.0,0.047420,4.74
1,2008,Finance and Insurance,1133496.0,16905015.0,0.067051,6.71
2,2008,Government,2447253.0,16905015.0,0.144765,14.48
3,2008,Health Care and Social Assistance,1174066.0,16905015.0,0.069451,6.95
4,2008,Information,642292.0,16905015.0,0.037994,3.80

In [30]:
# Sum GDPReal for each year across top-level industries only (exclude Total Nonfarm)
yearly_totals = sagdp9us_clean.groupby('Year')['GDPReal'].sum().reset_index()

print(yearly_totals)

    Year     GDPReal
0   2008  16905015.0
1   2009  16469528.0
2   2010  16900401.0
3   2011  17160486.0
4   2012  17546608.0
5   2013  17871216.0
6   2014  18307203.0
7   2015  18816047.0
8   2016  19147944.0
9   2017  19612104.0
10  2018  20201015.0
11  2019  20726322.0
12  2020  20315612.0
13  2021  21589579.0
14  2022  22210533.0
15  2023  22866364.0
16  2024  23521704.0

In [31]:
# Calculate year-over-year industry GDP growth
sagdp9us_clean['IndustryGDPGrowth'] = sagdp9us_clean.groupby('IndustryName')['GDPReal'].pct_change() * 100

# Round industry growth for readability
sagdp9us_clean['IndustryGDPGrowth'] = sagdp9us_clean['IndustryGDPGrowth'].round(2)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_clean.shape)
sagdp9us_clean.head()

Data check:
Data shape: (221, 7)

,Year,IndustryName,GDPReal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth
0,2008,Construction,801629.0,16905015.0,0.047420,4.74,NaN
1,2008,Finance and Insurance,1133496.0,16905015.0,0.067051,6.71,NaN
2,2008,Government,2447253.0,16905015.0,0.144765,14.48,NaN
3,2008,Health Care and Social Assistance,1174066.0,16905015.0,0.069451,6.95,NaN
4,2008,Information,642292.0,16905015.0,0.037994,3.80,NaN

In [32]:
# Compute total GDP per year (unique yearly values)
state_growth = (
    sagdp9us_clean[['Year', 'TotalGDP']]
    .drop_duplicates()
    .sort_values('Year')
)

# Calculate year-over-year growth
state_growth['StateGDPGrowth'] = (
    state_growth['TotalGDP'].pct_change() * 100
)

# Round
state_growth['StateGDPGrowth'] = state_growth['StateGDPGrowth'].round(2)

# Merge back into main dataframe
sagdp9us_clean = sagdp9us_clean.merge(
    state_growth[['Year', 'StateGDPGrowth']],
    on='Year',
    how='left'
)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_clean.shape)
sagdp9us_clean.head()

Data check:
Data shape: (221, 8)

,Year,IndustryName,GDPReal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth
0,2008,Construction,801629.0,16905015.0,0.047420,4.74,NaN,NaN
1,2008,Finance and Insurance,1133496.0,16905015.0,0.067051,6.71,NaN,NaN
2,2008,Government,2447253.0,16905015.0,0.144765,14.48,NaN,NaN
3,2008,Health Care and Social Assistance,1174066.0,16905015.0,0.069451,6.95,NaN,NaN
4,2008,Information,642292.0,16905015.0,0.037994,3.80,NaN,NaN

In [33]:
# Calculate contribution to growth
# Shift industry share back one year
sagdp9us_clean['PriorShare'] = (
    sagdp9us_clean
    .groupby('IndustryName')['IndustryShare']
    .shift(1)
)

# Compute contribution to state growth
sagdp9us_clean['GrowthContribution'] = (
    sagdp9us_clean['PriorShare'] *
    sagdp9us_clean['IndustryGDPGrowth']
)

# Round for readability
sagdp9us_clean['GrowthContribution'] = sagdp9us_clean['GrowthContribution'].round(2)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_clean.shape)
sagdp9us_clean.head()

Data check:
Data shape: (221, 10)

,Year,IndustryName,GDPReal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution
0,2008,Construction,801629.0,16905015.0,0.047420,4.74,NaN,NaN,NaN,NaN
1,2008,Finance and Insurance,1133496.0,16905015.0,0.067051,6.71,NaN,NaN,NaN,NaN
2,2008,Government,2447253.0,16905015.0,0.144765,14.48,NaN,NaN,NaN,NaN
3,2008,Health Care and Social Assistance,1174066.0,16905015.0,0.069451,6.95,NaN,NaN,NaN,NaN
4,2008,Information,642292.0,16905015.0,0.037994,3.80,NaN,NaN,NaN,NaN

In [34]:
# Calculate industry concentration (HHI) in 0-10,000 scale
sagdp9us_clean['IndustryConcentration'] = (sagdp9us_clean['IndustryShare']*100) ** 2

# Compute HHI per year
hhi_by_year = (
    sagdp9us_clean
    .groupby('Year')['IndustryConcentration']
    .sum()
    .reset_index()
)

# Round for readability
sagdp9us_clean['IndustryConcentration'] = sagdp9us_clean['IndustryConcentration'].round(1)

# Check the result
print('Data check:')
print('Data shape:', sagdp9us_clean.shape)
sagdp9us_clean.head()

Data check:
Data shape: (221, 11)

,Year,IndustryName,GDPReal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution,IndustryConcentration
0,2008,Construction,801629.0,16905015.0,0.047420,4.74,NaN,NaN,NaN,NaN,22.5
1,2008,Finance and Insurance,1133496.0,16905015.0,0.067051,6.71,NaN,NaN,NaN,NaN,45.0
2,2008,Government,2447253.0,16905015.0,0.144765,14.48,NaN,NaN,NaN,NaN,209.6
3,2008,Health Care and Social Assistance,1174066.0,16905015.0,0.069451,6.95,NaN,NaN,NaN,NaN,48.2
4,2008,Information,642292.0,16905015.0,0.037994,3.80,NaN,NaN,NaN,NaN,14.4

In [35]:
# Compute 3-year rolling average growth per industry
sagdp9us_clean['Growth3yrAvg'] = (
    sagdp9us_clean
    .groupby('IndustryName')['IndustryGDPGrowth']
    .rolling(3)
    .mean()
    .reset_index(level=0, drop=True)
)

# Round for readability
sagdp9us_clean['Growth3yrAvg'] = sagdp9us_clean['Growth3yrAvg'].round(2)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_clean.shape)
sagdp9us_clean.head()

Data check:
Data shape: (221, 12)

,Year,IndustryName,GDPReal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution,IndustryConcentration,Growth3yrAvg
0,2008,Construction,801629.0,16905015.0,0.047420,4.74,NaN,NaN,NaN,NaN,22.5,NaN
1,2008,Finance and Insurance,1133496.0,16905015.0,0.067051,6.71,NaN,NaN,NaN,NaN,45.0,NaN
2,2008,Government,2447253.0,16905015.0,0.144765,14.48,NaN,NaN,NaN,NaN,209.6,NaN
3,2008,Health Care and Social Assistance,1174066.0,16905015.0,0.069451,6.95,NaN,NaN,NaN,NaN,48.2,NaN
4,2008,Information,642292.0,16905015.0,0.037994,3.80,NaN,NaN,NaN,NaN,14.4,NaN

In [36]:
# Calculate volatility per industry
sagdp9us_clean['GrowthVolatility'] = (
    sagdp9us_clean
    .groupby('IndustryName')['IndustryGDPGrowth']
    .transform('std')
)

sagdp9us_clean['GrowthVolatility'] = sagdp9us_clean['GrowthVolatility'].round(2)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_clean.shape)
sagdp9us_clean.head()

Data check:
Data shape: (221, 13)

,Year,IndustryName,GDPReal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution,IndustryConcentration,Growth3yrAvg,GrowthVolatility
0,2008,Construction,801629.0,16905015.0,0.047420,4.74,NaN,NaN,NaN,NaN,22.5,NaN,5.33
1,2008,Finance and Insurance,1133496.0,16905015.0,0.067051,6.71,NaN,NaN,NaN,NaN,45.0,NaN,7.12
2,2008,Government,2447253.0,16905015.0,0.144765,14.48,NaN,NaN,NaN,NaN,209.6,NaN,0.91
3,2008,Health Care and Social Assistance,1174066.0,16905015.0,0.069451,6.95,NaN,NaN,NaN,NaN,48.2,NaN,1.84
4,2008,Information,642292.0,16905015.0,0.037994,3.80,NaN,NaN,NaN,NaN,14.4,NaN,4.19

In [37]:
# Calculate industry rank by size (structural view)
sagdp9us_clean['IndustryRank'] = (
    sagdp9us_clean
    .groupby('Year')['GDPReal']
    .rank(ascending=False, method='min')
)

# Convert rank to integer
sagdp9us_clean['IndustryRank'] = sagdp9us_clean['IndustryRank'].astype(int)

# Data check
print('Data check:')
print('Data shape:', sagdp9us_clean.shape)
sagdp9us_clean.head()

Data check:
Data shape: (221, 14)

,Year,IndustryName,GDPReal,TotalGDP,IndustryShare,IndustrySharePct,IndustryGDPGrowth,StateGDPGrowth,PriorShare,GrowthContribution,IndustryConcentration,Growth3yrAvg,GrowthVolatility,IndustryRank
0,2008,Construction,801629.0,16905015.0,0.047420,4.74,NaN,NaN,NaN,NaN,22.5,NaN,5.33,8
1,2008,Finance and Insurance,1133496.0,16905015.0,0.067051,6.71,NaN,NaN,NaN,NaN,45.0,NaN,7.12,7
2,2008,Government,2447253.0,16905015.0,0.144765,14.48,NaN,NaN,NaN,NaN,209.6,NaN,0.91,2
3,2008,Health Care and Social Assistance,1174066.0,16905015.0,0.069451,6.95,NaN,NaN,NaN,NaN,48.2,NaN,1.84,6
4,2008,Information,642292.0,16905015.0,0.037994,3.80,NaN,NaN,NaN,NaN,14.4,NaN,4.19,10

In [38]:
# Check for duplicates
print('Number of duplicate rows:', sagdp9us_grouped.duplicated().sum())

# Reset index
sagdp9us_clean = sagdp9us_grouped.reset_index(drop=True)

print('Index reset successfully!')

Number of duplicate rows: 0
Index reset successfully!

In [39]:
# Save df to csv
sagdp9us_clean.to_csv('../../../workspace/nf-insights-project/data_clean/sagdp9us_clean.csv', index=False)

print('CSV saved successfully!')

CSV saved successfully!