BEA SAGDP9 WV data cleaning and exploration.

In [26]:
# Import libraries
import pandas as pd

In [27]:
# Read in data
sagdp9wv_df = pd.read_csv('../../../workspace/nf-insights-project/data_raw/BEA GDP Data/SAGDP9_WV_1997_2024.csv', low_memory=False)

print('CSV read successfully!')

sagdp9wv_df.head()

CSV read successfully!

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"""54000""",West Virginia,5.0,SAGDP9,1.0,...,All industry total,Millions of chained 2017 dollars,60364.6,61725.7,...,74261.4,73513.3,75172.4,77406.5,77162.2,74729.6,76230.8,77549.1,80364.9,82716.5
1,"""54000""",West Virginia,5.0,SAGDP9,2.0,...,Private industries,Millions of chained 2017 dollars,49292.6,50584.3,...,62201.0,61686.8,63338.1,65574.3,65117.8,62549.6,63864.3,65258.7,68096.5,70377.0
2,"""54000""",West Virginia,5.0,SAGDP9,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2017 dollars,248.5,249.8,...,331.9,341.1,389.1,366.2,368.2,291.9,318.0,455.4,347.9,443.3
3,"""54000""",West Virginia,5.0,SAGDP9,4.0,111-112,Farms,Millions of chained 2017 dollars,102.6,113.7,...,187.6,195.5,246.7,228.0,231.6,165.7,194.4,320.3,226.8,311.4
4,"""54000""",West Virginia,5.0,SAGDP9,5.0,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,158.6,146.7,...,143.4,144.7,142.4,138.1,136.6,124.4,121.4,117.9,114.6,118.7

In [28]:
# Data check
print(sagdp9wv_df.shape)
print(sagdp9wv_df.info())
sagdp9wv_df.columns

(96, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 96 non-null     object
 1   GeoName                 92 non-null     object
 2   Region                  92 non-null     float64
 3   TableName               92 non-null     object
 4   LineCode                92 non-null     float64
 5   IndustryClassification  92 non-null     object
 6   Description             92 non-null     object
 7   Unit                    92 non-null     object
 8   1997                    92 non-null     float64
 9   1998                    92 non-null     float64
 10  1999                    92 non-null     float64
 11  2000                    92 non-null     float64
 12  2001                    92 non-null     float64
 13  2002                    92 non-null     float64
 14  2003                    92 non-null     float64
 15  2004                    92 non-null     float64
 16  2005                    92 non-null     float64
 17  2006                    92 non-null     float64
 18  2007                    92 non-null     float64
 19  2008                    92 non-null     float64
 20  2009                    92 non-null     float64
 21  2010                    92 non-null     float64
 22  2011                    92 non-null     float64
 23  2012                    92 non-null     float64
 24  2013                    92 non-null     float64
 25  2014                    92 non-null     float64
 26  2015                    92 non-null     float64
 27  2016                    92 non-null     float64
 28  2017                    92 non-null     float64
 29  2018                    92 non-null     float64
 30  2019                    92 non-null     float64
 31  2020                    92 non-null     float64
 32  2021                    92 non-null     float64
 33  2022                    92 non-null     float64
 34  2023                    92 non-null     float64
 35  2024                    92 non-null     float64
dtypes: float64(30), object(6)
memory usage: 27.1+ KB
None

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [29]:
# Drop unnecessary columns
years = [str(y) for y in range(2009, 2025)]

sagdp9wv_df = sagdp9wv_df[['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit'] + years] 

# Data check
print(sagdp9wv_df.shape)
sagdp9wv_df.info()

(96, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 92 non-null     object
 1   LineCode                92 non-null     float64
 2   IndustryClassification  92 non-null     object
 3   Description             92 non-null     object
 4   Unit                    92 non-null     object
 5   2009                    92 non-null     float64
 6   2010                    92 non-null     float64
 7   2011                    92 non-null     float64
 8   2012                    92 non-null     float64
 9   2013                    92 non-null     float64
 10  2014                    92 non-null     float64
 11  2015                    92 non-null     float64
 12  2016                    92 non-null     float64
 13  2017                    92 non-null     float64
 14  2018                    92 non-null     float64
 15  2019                    92 non-null     float64
 16  2020                    92 non-null     float64
 17  2021                    92 non-null     float64
 18  2022                    92 non-null     float64
 19  2023                    92 non-null     float64
 20  2024                    92 non-null     float64
dtypes: float64(17), object(4)
memory usage: 15.9+ KB

In [30]:
# Drop completely empty rows
sagdp9wv_df = sagdp9wv_df.dropna(how='all', axis=0)

print(sagdp9wv_df.shape)

(92, 21)

In [31]:
# Melt df from wide -> long
# Columns that identify each row
id_vars = ['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit']

# Columns to turn into rows
value_vars = [str(y) for y in range(2009, 2025)]

sagdp9wv_long = pd.melt(
    sagdp9wv_df,
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',
    value_name='GDPReal'
)

print(sagdp9wv_long.shape)
print(sagdp9wv_long.info())

(1472, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   float64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   object
 6   GDPReal                 1472 non-null   float64
dtypes: float64(2), object(5)
memory usage: 80.6+ KB
None

In [32]:
# Convert LineCode from float64 to int
sagdp9wv_long['LineCode'] = sagdp9wv_long['LineCode'].astype(int)

# Convert Year from object to int
sagdp9wv_long['Year'] = sagdp9wv_long['Year'].astype(int)

# Data check
print(sagdp9wv_long.info())
sagdp9wv_long.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   int64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   int64
 6   GDPReal                 1472 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 80.6+ KB
None

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPReal
0,West Virginia,1,...,All industry total,Millions of chained 2017 dollars,2009,70886.5
1,West Virginia,2,...,Private industries,Millions of chained 2017 dollars,2009,58142.1
2,West Virginia,3,11,"Agriculture, forestry, fishing and hunting",Millions of chained 2017 dollars,2009,294.8
3,West Virginia,4,111-112,Farms,Millions of chained 2017 dollars,2009,148.5
4,West Virginia,5,113-115,"Forestry, fishing, and related activities",Millions of chained 2017 dollars,2009,150.0

In [33]:
# Strip whitespace from strings
sagdp9wv_long['Description'] = sagdp9wv_long['Description'].str.strip()
sagdp9wv_long['Unit'] = sagdp9wv_long['Unit'].str.strip()
sagdp9wv_long['GeoName'] = sagdp9wv_long['GeoName'].str.strip()

# Reset index
sagdp9wv_long = sagdp9wv_long.reset_index(drop=True)

In [34]:
# Save df to csv
sagdp9wv_long.to_csv('../../../workspace/nf-insights-project/data_clean/sagdp9wv_long_clean.csv', index=False)

print('CSV saved successfully!')

CSV saved successfully!