BEA SAGDP2 WV data cleaning and exploration.

In [3]:
# Import libraries
import pandas as pd

print('Libraries imported successfully!')

Libraries imported successfully!

In [4]:
# Read in data
sagdp2wv_df = pd.read_csv('../../../workspace/nf-insights-project/data_raw/BEA GDP Data/SAGDP2_WV_1997_2024.csv', low_memory=False)

print('CSV read successfully!')

sagdp2wv_df.head()

CSV read successfully!

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"""54000""",West Virginia,5.0,SAGDP2,1.0,...,All industry total,Millions of current dollars,38781.2,40258.9,...,71713.4,71248.9,75172.4,79794.3,80242.4,77536.5,87178.8,98824.1,101479.9,106475.1
1,"""54000""",West Virginia,5.0,SAGDP2,2.0,...,Private industries,Millions of current dollars,32787.1,34074.5,...,59992.8,59614.8,63338.1,67602.0,67569.3,64173.0,73238.4,84607.7,86604.2,90908.8
2,"""54000""",West Virginia,5.0,SAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of current dollars,231.8,223.7,...,343.3,319.8,389.1,355.7,355.4,275.2,376.3,669.5,463.1,560.9
3,"""54000""",West Virginia,5.0,SAGDP2,4.0,111-112,Farms,Millions of current dollars,103.2,106.2,...,203.5,177.0,246.7,216.4,216.2,148.5,246.9,537.5,330.3,424.1
4,"""54000""",West Virginia,5.0,SAGDP2,5.0,113-115,"Forestry, fishing, and related activities",Millions of current dollars,128.5,117.5,...,139.8,142.7,142.4,139.3,139.2,126.7,129.4,132.0,132.9,136.9

In [5]:
# Data check
print('Data check:')
print('Data shape:', sagdp2wv_df.shape)
print(sagdp2wv_df.info())
sagdp2wv_df.columns

Data check:
Data shape: (96, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 96 non-null     object
 1   GeoName                 92 non-null     object
 2   Region                  92 non-null     float64
 3   TableName               92 non-null     object
 4   LineCode                92 non-null     float64
 5   IndustryClassification  92 non-null     object
 6   Description             92 non-null     object
 7   Unit                    92 non-null     object
 8   1997                    92 non-null     float64
 9   1998                    92 non-null     float64
 10  1999                    92 non-null     float64
 11  2000                    92 non-null     float64
 12  2001                    92 non-null     float64
 13  2002                    92 non-null     float64
 14  2003                    92 non-null     float64
 15  2004                    92 non-null     float64
 16  2005                    92 non-null     float64
 17  2006                    92 non-null     float64
 18  2007                    92 non-null     float64
 19  2008                    92 non-null     float64
 20  2009                    92 non-null     float64
 21  2010                    92 non-null     float64
 22  2011                    92 non-null     float64
 23  2012                    92 non-null     float64
 24  2013                    92 non-null     float64
 25  2014                    92 non-null     float64
 26  2015                    92 non-null     float64
 27  2016                    92 non-null     float64
 28  2017                    92 non-null     float64
 29  2018                    92 non-null     float64
 30  2019                    92 non-null     float64
 31  2020                    92 non-null     float64
 32  2021                    92 non-null     float64
 33  2022                    92 non-null     float64
 34  2023                    92 non-null     float64
 35  2024                    92 non-null     float64
dtypes: float64(30), object(6)
memory usage: 27.1+ KB
None

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [6]:
# Drop unnecessary columns
years = [str(y) for y in range(2009, 2025)]

sagdp2wv_df = sagdp2wv_df[['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit'] + years]

print('Columns dropped successfully!')

# Data check
print('Data shape:', sagdp2wv_df.shape)
sagdp2wv_df.info()

Columns dropped successfully!
Data shape: (96, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 92 non-null     object
 1   LineCode                92 non-null     float64
 2   IndustryClassification  92 non-null     object
 3   Description             92 non-null     object
 4   Unit                    92 non-null     object
 5   2009                    92 non-null     float64
 6   2010                    92 non-null     float64
 7   2011                    92 non-null     float64
 8   2012                    92 non-null     float64
 9   2013                    92 non-null     float64
 10  2014                    92 non-null     float64
 11  2015                    92 non-null     float64
 12  2016                    92 non-null     float64
 13  2017                    92 non-null     float64
 14  2018                    92 non-null     float64
 15  2019                    92 non-null     float64
 16  2020                    92 non-null     float64
 17  2021                    92 non-null     float64
 18  2022                    92 non-null     float64
 19  2023                    92 non-null     float64
 20  2024                    92 non-null     float64
dtypes: float64(17), object(4)
memory usage: 15.9+ KB

In [7]:
# Drop completely empty rows
sagdp2wv_df = sagdp2wv_df.dropna(how='all', axis=0)

print('Empty rows dropped successfully!')

print('Data shape:', sagdp2wv_df.shape)

Empty rows dropped successfully!
Data shape: (92, 21)

In [8]:
# Melt df from wide -> long
# Columns that identify each row
id_vars = ['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit']

# Columns to turn into rows
value_vars = [str(y) for y in range(2009, 2025)]

sagdp2wv_long = pd.melt(
    sagdp2wv_df,
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',
    value_name='GDPNominal'
)

print('Data melted successfully!')

print('Data shape:', sagdp2wv_long.shape)
print(sagdp2wv_long.info())

Data melted successfully!
Data shape: (1472, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   float64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   object
 6   GDPNominal              1472 non-null   float64
dtypes: float64(2), object(5)
memory usage: 80.6+ KB
None

In [9]:
# Convert LineCode from float64 to int
sagdp2wv_long['LineCode'] = sagdp2wv_long['LineCode'].astype(int)

# Convert Year from object to int
sagdp2wv_long['Year'] = sagdp2wv_long['Year'].astype(int)

print('Data type conversions completed successfully!')

# Data check
print('Data check:')
print(sagdp2wv_long.info())
sagdp2wv_long.head()

Data type conversions completed successfully!
Data check:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1472 non-null   object
 1   LineCode                1472 non-null   int64
 2   IndustryClassification  1472 non-null   object
 3   Description             1472 non-null   object
 4   Unit                    1472 non-null   object
 5   Year                    1472 non-null   int64
 6   GDPNominal              1472 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 80.6+ KB
None

,GeoName,LineCode,IndustryClassification,Description,Unit,Year,GDPNominal
0,West Virginia,1,...,All industry total,Millions of current dollars,2009,64040.1
1,West Virginia,2,...,Private industries,Millions of current dollars,2009,53335.5
2,West Virginia,3,11,"Agriculture, forestry, fishing and hunting",Millions of current dollars,2009,241.6
3,West Virginia,4,111-112,Farms,Millions of current dollars,2009,120.0
4,West Virginia,5,113-115,"Forestry, fishing, and related activities",Millions of current dollars,2009,121.6

In [10]:
# Strip whitespace from all text columns
text_cols = sagdp2wv_long.select_dtypes(include='object').columns

for col in text_cols:
    sagdp2wv_long[col] = sagdp2wv_long[col].str.strip()

print('Whitespace stripped successfully!')

# Reset index
sagdp2wv_long = sagdp2wv_long.reset_index(drop=True)

print('Index reset successfully!')

Whitespace stripped successfully!
Index reset successfully!

In [11]:
# Check for duplicates
print('Number of duplicate rows:', sagdp2wv_long.duplicated().sum())

Number of duplicate rows: 0

In [12]:
# Save df to csv
sagdp2wv_long.to_csv('../../../workspace/nf-insights-project/data_clean/sagdp2wv_clean.csv', index=False)

print('CSV saved successfully!')

CSV saved successfully!