BEA SAGDP2 US data cleaning and exploration.

In [1]:
# Import libraries
import pandas as pd

print('Libraries imported successfully!')

Libraries imported successfully!

In [2]:
# Read in data
sagdp2us_df = pd.read_csv('../../../workspace/nf-insights-project/data_raw/BEA GDP Data/SAGDP2_US_1997_2024.csv', low_memory=False)

print('CSV read successfully!')

sagdp2us_df.head()

CSV read successfully!

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,"""00000""",United States *,,SAGDP2,1.0,...,All industry total,Millions of current dollars,8577552.0,9062817.0,...,18295019.0,18804913.0,19612102.0,20656516.0,21539982.0,21375281.0,23725645.0,26054614.0,27811517.0,29298013.0
1,"""00000""",United States *,,SAGDP2,2.0,...,Private industries,Millions of current dollars,7431989.0,7871498.0,...,15951002.0,16413054.0,17156255.0,18097765.0,18909779.0,18663991.0,20917717.0,23128892.0,24712793.0,26001672.0
2,"""00000""",United States *,,SAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Millions of current dollars,108635.0,100746.0,...,182147.0,167492.0,176840.0,177117.0,164214.0,164383.0,230723.0,294048.0,270441.0,269686.0
3,"""00000""",United States *,,SAGDP2,4.0,111-112,Farms,Millions of current dollars,88135.0,80020.0,...,146259.0,130270.0,138733.0,136825.0,122630.0,120506.0,185707.0,247070.0,218198.0,215830.0
4,"""00000""",United States *,,SAGDP2,5.0,113-115,"Forestry, fishing, and related activities",Millions of current dollars,20501.0,20726.0,...,35887.0,37222.0,38107.0,40291.0,41585.0,43877.0,45016.0,46978.0,52243.0,53856.0

In [3]:
# Data check
print('DF shape: ', sagdp2us_df.shape)
print(sagdp2us_df.info())
sagdp2us_df.columns

DF shape:  (100, 36)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 100 non-null    object
 1   GeoName                 96 non-null     object
 2   Region                  96 non-null     object
 3   TableName               96 non-null     object
 4   LineCode                96 non-null     float64
 5   IndustryClassification  96 non-null     object
 6   Description             96 non-null     object
 7   Unit                    96 non-null     object
 8   1997                    96 non-null     float64
 9   1998                    96 non-null     float64
 10  1999                    96 non-null     float64
 11  2000                    96 non-null     float64
 12  2001                    96 non-null     float64
 13  2002                    96 non-null     float64
 14  2003                    96 non-null     float64
 15  2004                    96 non-null     float64
 16  2005                    96 non-null     float64
 17  2006                    96 non-null     float64
 18  2007                    96 non-null     float64
 19  2008                    96 non-null     float64
 20  2009                    96 non-null     float64
 21  2010                    96 non-null     float64
 22  2011                    96 non-null     float64
 23  2012                    96 non-null     float64
 24  2013                    96 non-null     float64
 25  2014                    96 non-null     float64
 26  2015                    96 non-null     float64
 27  2016                    96 non-null     float64
 28  2017                    96 non-null     float64
 29  2018                    96 non-null     float64
 30  2019                    96 non-null     float64
 31  2020                    96 non-null     float64
 32  2021                    96 non-null     float64
 33  2022                    96 non-null     float64
 34  2023                    96 non-null     float64
 35  2024                    96 non-null     float64
dtypes: float64(29), object(7)
memory usage: 28.3+ KB
None

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [4]:
# Drop unnecessary columns
years = [str(y) for y in range(2009, 2025)]

sagdp2us_df = sagdp2us_df[['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit'] + years]

print('Dropped unnecessary columns successfully!')

# Data check
print('DF shape: ', sagdp2us_df.shape)
sagdp2us_df.info()

Dropped unnecessary columns successfully!
DF shape:  (100, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 96 non-null     object
 1   LineCode                96 non-null     float64
 2   IndustryClassification  96 non-null     object
 3   Description             96 non-null     object
 4   Unit                    96 non-null     object
 5   2009                    96 non-null     float64
 6   2010                    96 non-null     float64
 7   2011                    96 non-null     float64
 8   2012                    96 non-null     float64
 9   2013                    96 non-null     float64
 10  2014                    96 non-null     float64
 11  2015                    96 non-null     float64
 12  2016                    96 non-null     float64
 13  2017                    96 non-null     float64
 14  2018                    96 non-null     float64
 15  2019                    96 non-null     float64
 16  2020                    96 non-null     float64
 17  2021                    96 non-null     float64
 18  2022                    96 non-null     float64
 19  2023                    96 non-null     float64
 20  2024                    96 non-null     float64
dtypes: float64(17), object(4)
memory usage: 16.5+ KB

In [5]:
# Drop completely empty rows
sagdp2us_df = sagdp2us_df.dropna(how='all', axis=0)

print('Dropped completely empty rows successfully!')

print('DF shape: ', sagdp2us_df.shape)

Dropped completely empty rows successfully!
DF shape:  (96, 21)

In [6]:
# Melt df from wide -> long
# Columns that identify each row
id_vars = ['GeoName', 'LineCode', 'IndustryClassification', 'Description', 'Unit']

# Columns to turn into rows
value_vars = [str(y) for y in range(2009, 2025)]

sagdp2us_long = pd.melt(
    sagdp2us_df,
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',
    value_name='GDPNominal'
)

print('Melted successfully!')

print('DF shape: ', sagdp2us_long.shape)
print(sagdp2us_long.info())

Melted successfully!
DF shape:  (1536, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1536 entries, 0 to 1535
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoName                 1536 non-null   object
 1   LineCode                1536 non-null   float64
 2   IndustryClassification  1536 non-null   object
 3   Description             1536 non-null   object
 4   Unit                    1536 non-null   object
 5   Year                    1536 non-null   object
 6   GDPNominal              1536 non-null   float64
dtypes: float64(2), object(5)
memory usage: 84.1+ KB
None

In [7]:
# Convert LineCode from float64 to int
sagdp2us_long['LineCode'] = sagdp2us_long['LineCode'].astype(int)

# Convert Year from object to int
sagdp2us_long['Year'] = sagdp2us_long['Year'].astype(int)

print('LineCode and Year converted successfully!')

# Data check
print('Data check:')
print('DF shape: ', sagdp2us_long.shape)

LineCode and Year converted successfully!
Data check:
DF shape:  (1536, 7)

In [8]:
# Strip whitespace from all text columns
text_cols = sagdp2us_long.select_dtypes(include='object').columns

for col in text_cols:
    sagdp2us_long[col] = sagdp2us_long[col].str.strip()

print('Whitespace stripped successfully!')

# Reset index
sagdp2us_long = sagdp2us_long.reset_index(drop=True)

print('Index reset successfully!')

Whitespace stripped successfully!
Index reset successfully!

In [9]:
# Check for duplicates
print('Number of duplicate rows:', sagdp2us_long.duplicated().sum())

Number of duplicate rows: 0

In [10]:
# Save df to csv
sagdp2us_long.to_csv('../../../workspace/nf-insights-project/data_clean/sagdp2_us_clean.csv', index=False)

print('CSV saved successfully!')

CSV saved successfully!